<svg class="arrow-left-4" (click)="backPage()" viewBox="0 0 100 85">
  <polygon points="58.263,0.056 100,41.85 58.263,83.641 30.662,83.641 62.438,51.866 0,51.866 0,31.611 62.213,31.611 30.605,0 58.263,0.056" />
</svg>


<div class="child-container">
  <div class="child">
    <div class="head"></div>
    <div class="afro1"></div>
    <div class="afro2"></div>
    <div class="afro3"></div>
    <div class="afro4"></div>
    <div class="earleft"></div>
    <div class="earright"></div>
    <div class="glassesleft"></div>
    <div class="glassesmiddle"></div>
    <div class="eyeballleft">
      <div class="eyeballleft_shine"></div>
    </div>
    <div class="glassesright"></div>
    <div class="eyeballright">
      <div class="eyeballleft_shine"></div>
    </div>
    <div class="nose"></div>
    <div class="half-circle">
      <div class="border-circle left-circle"></div>
      <div class="border-circle right-circle"></div>
    </div>
    <div class="neck"></div>
    <div class="collar"></div>
    <div class="belly"></div>
    <div class="leftarm"></div>
    <div class="leftforearm"></div>
    <div class="rightarm"></div>
    <div class="rightforearm"></div>
    <div class="leftthumb"></div>
    <div class="lefthand"></div>
    <div class="rightthumb"></div>
    <div class="righthand"></div>
    <div class="controller">
      <div class="lights"></div>
      <div class="leftcontrol"></div>
      <div class="rightcontrol"></div>
      <div class="antenna"></div>
    </div>
    <div class="child-legs"></div>
    <div class="leftboot">
      <div class="leftbootsole"></div>
    </div>
    <div class="rightboot">
      <div class="rightbootsole"></div>
    </div>
  </div>
  <div class="drone">
    <div class="wings"></div>
    <div class="leftspinner"></div>
    <div class="camera"></div>
    <div class="rightspinner"></div>
  </div>
  <div class="suitcase"></div>
  <div class="backpack">
    <div class="pockets"></div>
  </div>
  <div class="ground"></div>
</div>
