.button-add {
  padding: 10px 30px 10px 30px;
  cursor: pointer;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  margin: 10px auto 10px auto;
  color: floralwhite;
  background-color: darkgreen;
}

.add-new-address {
  padding: 10px 30px 10px 30px;
  cursor: pointer;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  margin: 10px auto 10px auto;
}

.button-add-cancel {
  color: floralwhite;
  border-radius: 5px;
  background-color: darkgreen;
  border-color: darkgreen;
}
.delete-style {
  cursor: pointer;
  color:cornflowerblue;
}
.edit-icon {
  cursor: pointer;
}
