<p>addresses works!</p>

<form nz-form [nzLayout]="'inline'" [formGroup]="validateForm" (ngSubmit)="submitForm()">
  <nz-form-item>
    <nz-form-control nzErrorTip="Please input your street!">
      <nz-input-group nzPrefixIcon="user">
        <input formControlName="userName" nz-input placeholder="Street" [(ngModel)]="newStreet"/>
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>
  <!--<nz-form-item>
    <nz-form-control nzErrorTip="Please input your Password!">
      <nz-input-group nzPrefixIcon="lock">
        <input formControlName="password" nz-input type="password" placeholder="Password" />
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>-->
  <nz-form-item>
    <nz-form-control>
      <button (click)="isAdd=true" *ngIf="!isAdd" class="button-add">Add</button>
      <div class="add-new-address" *ngIf="isAdd">
        <!--<input class="input-street" placeholder="Street" [(ngModel)]="newStreet" />-->
        <button class="button-add-cancel"
                (click)="isAdd=false;addAddress(newStreet);
          newStreet='';">
          Add
        </button>
      </div>
    </nz-form-control>
  </nz-form-item>
</form>

<ng-container *ngFor="let address of addresses">
  <div>
    <span>{{address.id}} - {{address.street}} </span>
    <i nz-icon nzType="delete" class="delete-style"
       nzTheme="outline" (click)="deleteAddress(address.id);createBasicNotification(address.street)"></i>
    <i nz-icon nzType="edit" nzTheme="outline" class="edit-icon"
       (click)="address.isEdit=true;address.newStreet=address.street"></i>
  </div>
  <div *ngIf="address.isEdit">
    <input placeholder="Street" [(ngModel)]="address.newStreet" />
    <button class="button-add-cancel" (click)="
        saveAddress(address.id,address.newStreet,address.userId);
              address.isEdit=false">
      Save
    </button>
    <button class="button-add-cancel" (click)="address.isEdit=false">Cancel</button>
  </div>
</ng-container>

<button (click)="isAdd=true" *ngIf="!isAdd" class="button-add">Add</button>
<div class="add-new-address" *ngIf="isAdd">
  <input class="input-street" placeholder="Street" [(ngModel)]="newStreet" />
  <button class="button-add-cancel"
          (click)="isAdd=false;addAddress(newStreet);
          newStreet='';">
    Add
  </button>
  <button class="button-add-cancel"
          (click)="isAdd=false;newFirstName='';newLastName=''">
    Cansel
  </button>
</div>
