#tree {
  width: 220px;
  display: block;
  margin: 0 auto;
}

.st0 {
  fill: #332C28;
}

.st1 {
  fill: #0f690f;
}

.st2 {
  fill: #388f38;
}

.st3 {
  fill: #a60505;
}

.st4 {
  fill: #d90000;
}

.red-md {
  fill: #aa1231;
  animation: 0.6s red-flash ease-in-out infinite;
}

@keyframes red-flash {
  40% {
    fill: #ea385c;
  }

  80% {
    fill: #aa1231;
  }
}

.gold-lt {
  fill: #c1881c;
  animation: 0.6s gold-lt-flash ease-in-out infinite;
}

@keyframes gold-lt-flash {
  40% {
    fill: #e7b75c;
  }

  80% {
    fill: #c1881c;
  }
}

.blue-lt {
  fill: #1f3e64;
  animation: 0.6s blue-lt-flash ease-in-out infinite;
}

@keyframes blue-lt-flash {
  40% {
    fill: #386fb1;
  }

  80% {
    fill: #1f3e64;
  }
}

.blue-dk {
  fill: #0f1f2f;
  animation: 0.6s blue-dk-flash ease-in-out infinite;
}

@keyframes blue-dk-flash {
  40% {
    fill: #28527c;
  }

  80% {
    fill: #0f1f2f;
  }
}

.gold-dk {
  fill: #69512a;
  animation: 0.6s gold-dk-flash ease-in-out infinite;
}

@keyframes gold-dk-flash {
  40% {
    fill: #b28947;
  }

  80% {
    fill: #69512a;
  }
}

.g1 {
  animation-delay: 0s;
}

.g2 {
  animation-delay: 0.4s;
}

.g3 {
  animation-delay: 0.8s;
}


.arrow-left-4 {
  margin: 20px 8px;
  width: 80px;
  height: 80px;
  cursor: pointer;
}

.arrow-left-4 polygon {
  fill: #337AB7;
  transition: fill 0.5s ease-out;
}

.arrow-left-4 {
  transform: rotate(180deg);
}

.arrow-left-4:hover polygon {
  fill: #BFE2FF;
}
