<nz-button-group>
  <button nz-button (click)="log()">DropDown</button>
  <button nz-button nz-dropdown [nzDropdownMenu]="menu1" nzPlacement="bottomRight">
    <i nz-icon nzType="ellipsis"></i>
  </button>
</nz-button-group>
<nz-dropdown-menu #menu1="nzDropdownMenu">
  <ul nz-menu>
    <ng-container *ngFor="let address of addresses">
      <li nz-menu-item (click)="select(address.id)">{{address.street}}</li>
    </ng-container>
  </ul>
</nz-dropdown-menu>
