<svg class="arrow-left-4" (click)="backPage()" viewBox="0 0 100 85">
  <polygon points="58.263,0.056 100,41.85 58.263,83.641 30.662,83.641 62.438,51.866 0,51.866 0,31.611 62.213,31.611 30.605,0 58.263,0.056" />
</svg>

<div class="velocat">
  <div class="podo">
    <div class="hat"></div>
    <div class="drop"></div>
    <div class="drop reverse"></div>
    <div class="hat-detail"></div>
    <div class="under-hat"></div>
    <div class="ear-left">
      <div class="inner-left">
        <div class="hair-left">
          <div class="curve-hair-f"></div>
          <div class="curve-inner-l"></div>
        </div>
      </div>
    </div>
    <div class="ear-right">
      <div class="inner-right">
        <div class="hair-right">
          <div class="curve-hair-r"></div>
          <div class="curve-inner-r"></div>
        </div>
      </div>
    </div>
    <div class="face">
      <div class="face-hair1">
        <div class="curve-hair1"></div>
      </div>
      <div class="face-hair2">
        <div class="curve-hair"></div>
      </div>
      <div class="eye-left">
        <div class="eye-ball">
          <div class="eye-shadow1"></div>
          <div class="eye-shadow2"></div>
          <div class="eye-shadow3"></div>
        </div>
      </div>
      <div class="eye-right">
        <div class="eye-ball">
          <div class="eye-shadow1"></div>
          <div class="eye-shadow2"></div>
          <div class="eye-shadow3"></div>
        </div>
      </div>
      <div class="nose">
        <div class="nose-in"></div>
      </div>
      <div class="nose-line"></div>
      <div class="cheek"></div>
      <div class="mouth">
        <div class="tongue"></div>
      </div>
    </div>
    <div class="arm"></div>
    <div class="left-arm"></div>
    <div class="right-hand"></div>
    <div class="belt"></div>
    <div class="gondol"></div>
    <div class="left-gondol"></div>
    <div class="draglink"></div>
    <div class="hand"></div>
    <div class="shorts">
      <div class="middle-short"></div>
      <div class="right-short"></div>
      <div class="left-short"></div>
      <div class="short-leg"></div>
      <div class="leg-left">
        <div class="socks"></div>
        <div class="shoes">
          <div class="base">
            <div class="left-base"></div>
            <div class="pedal"></div>
          </div>
        </div>
      </div>
      <div class="leg-right">
        <div class="socks"></div>
        <div class="shoes">
          <div class="right-base"></div>
          <div class="pedal left-p"></div>
        </div>
      </div>
      <div class="skeleton"></div>
      <div class="curve-skeleton"></div>
      <div class="circle-line"></div>
      <div class="circle-line is-two"></div>
      <div class="circle-line is-three"></div>
    </div>
    <div class="floor"></div>
    <div class="tree-ball"></div>
    <div class="tree-ball1"></div>
    <div class="tree-ball2"></div>
    <div class="tree-ball3"></div>
    <div class="line-tree"></div>
    <div class="big-tree">
      <div class="twig"></div>
      <div class="twig one"></div>
    </div>
    <div class="big-tree shadow">
      <div class="twig"></div>
      <div class="twig one"></div>
    </div>
    <div class="big-tree shadow1">
      <div class="twig"></div>
      <div class="twig one"></div>
    </div>
  </div>
</div>
