.girl-wrap {
  width: 100%;
  height: 420px;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scale(0.8);
  position: relative;
}

@media (max-width: 640px) {
  .girl-wrap {
    transform: scale(0.5);
    height: 280px;
    width: calc(100% + 200px);
    left: -100px;
  }
}

.girl {
  background: #BFE2FF;
  border-radius: 100%;
  height: 500px;
  overflow: hidden;
  position: relative;
  width: 500px;
}

.g-trails {
  display: flex;
  justify-content: space-between;
  width: 90%;
  left: 0;
  position: absolute;
}

.g-trails li {
  background-color: #f9ad46;
  list-style: none;
  position: relative;
  border-radius: 200px;
  height: 400px;
}

.g-trails li:nth-child(1) {
  animation: flightTrail .22s linear infinite;
  width: 50px;
}

.g-trails li:nth-child(1):after {
  content: '';
  background-color: #fcd9a9;
  width: 15px;
  height: 350px;
  position: absolute;
  left: 15%;
  top: 5%;
  border-radius: 200px;
}

.g-trails li:nth-child(2) {
  animation: flightTrail .28s .1s linear infinite;
  width: 75px;
}

.g-trails li:nth-child(2):after {
  content: '';
  background-color: #fcd9a9;
  width: 20px;
  height: 350px;
  position: absolute;
  left: 15%;
  top: 5%;
  border-radius: 200px;
}

.g-trails li:nth-child(3) {
  animation: flightTrail .18s .03s linear infinite;
  width: 15px;
}

.g-trails li:nth-child(4) {
  animation: flightTrail .25s .01s linear infinite;
  width: 65px;
}

.g-trails li:nth-child(4):after {
  content: '';
  background-color: #fcd9a9;
  width: 20px;
  height: 350px;
  position: absolute;
  left: 15%;
  top: 5%;
  border-radius: 200px;
}

.g-trails li:nth-child(5) {
  animation: flightTrail .4s .01s linear infinite;
  width: 40px;
}

.g-trails li:nth-child(5):after {
  background-color: #fcd9a9;
  border-radius: 200px;
  content: '';
  height: 350px;
  left: 15%;
  position: absolute;
  top: 5%;
  width: 20px;
}

.super-girl {
  animation: easeUpg-body 0.7s ease-in-out alternate infinite;
  height: 400px;
  left: calc(50% - 100px);
  position: absolute;
  top: calc(50% - 150px);
  width: 200px;
}

.g-head {
  animation: easeUpg-head 0.7s ease-in-out alternate infinite;
  background-color: #de5419;
  border-radius: 100px;
  box-shadow: inset -5px -10px #b04213;
  height: 210px;
  left: calc(50% - 80px);
  position: absolute;
  width: 160px;
  z-index: 4;
}

.g-head .g-face {
  height: 150px;
  left: calc(50% - 75px);
  position: absolute;
  top: calc(50% - 75px);
  width: 150px;
}

.g-head .g-face .g-eyes {
  animation: easeUpg-face 0.7s ease-in-out alternate infinite;
  display: flex;
  justify-content: space-between;
  left: 6%;
  position: absolute;
  top: 60px;
}

.g-head .g-face .g-eyes::before, .g-head .g-face .g-eyes::after {
  border-radius: 200px;
  box-shadow: inset 0px 10px #020916;
  content: '';
  height: 45px;
  margin: 0 10px;
  width: 45px;
}

.g-head .g-face .g-smile {
  background-color: #fffaf0;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  height: 30px;
  left: calc(50% - 30px);
  overflow: hidden;
  position: absolute;
  top: 80%;
  width: 60px;
}

.g-hair {
  background-color: #020916;
  border-radius: 100%;
  box-shadow: inset 15px 0px #08265c;
  height: 220px;
  left: calc(50% - 110px);
  position: absolute;
  top: -12%;
  width: 220px;
}

.g-hair::after {
  animation: easeUpg-hair 0.7s ease-in-out alternate infinite;
  background-color: #020916;
  border-radius: 0px 300px 0px 300px;
  content: '';
  height: 110px;
  left: 63px;
  position: absolute;
  top: 25px;
  transform: rotate(-5deg);
  width: 130px;
  z-index: 5;
}

.g-neck {
  background-color: #c74b16;
  border-bottom-left-radius: 100%;
  border-bottom-right-radius: 100%;
  height: 70px;
  left: calc(50% - 30px);
  position: absolute;
  top: 45%;
  width: 60px;
  z-index: 4;
}

.g-neck::after {
  background-color: #a73f12;
  border-bottom-left-radius: 100%;
  border-bottom-right-radius: 100%;
  content: '';
  height: 40px;
  position: absolute;
  width: 100%;
}

.g-body {
  background-color: #337AB7;
  border-top-left-radius: 200px;
  border-top-right-radius: 200px;
  height: 300px;
  left: calc(50% - 80px);
  position: absolute;
  top: 50%;
  width: 160px;
}

.g-ponytail {
  background-color: #020916;
  border-radius: 200px;
  box-shadow: inset 15px 0px #0b2f74;
  height: 200px;
  left: -20px;
  position: absolute;
  top: 30%;
  width: 120px;
}

.g-ponytail:after {
  background: #020916;
  border-radius: 0 0 400px 400px;
  box-shadow: inset 15px 0px #0b2f74;
  content: '';
  height: 100px;
  left: -34%;
  position: absolute;
  width: 160px;
  top: 60%;
}

.g-arm-left {
  animation: rotateLeft 0.7s ease-in-out alternate infinite;
  background-color: #337AB7;
  border-top-left-radius: 200px;
  border-bottom-left-radius: 200px;
  height: 60px;
  left: 10%;
  position: absolute;
  top: 70%;
  transform: rotate(35deg);
  transform-origin: 80% 15%;
  width: 200px;
  z-index: 2;
}

.g-arm-left .g-hand {
  background-color: #de5419;
  border-top-left-radius: 200px;
  border-bottom-left-radius: 200px;
  height: 60px;
  width: 60px;
}

.g-arm-right {
  animation: rotateRight 0.7s ease-in-out alternate infinite;
  background-color: #337AB7;
  border-top-left-radius: 200px;
  border-bottom-left-radius: 200px;
  height: 60px;
  left: 33%;
  position: absolute;
  top: 75%;
  transform: rotate(145deg);
  transform-origin: 80% 15%;
  width: 200px;
}

.g-arm-right .g-hand {
  background-color: #de5419;
  border-top-left-radius: 200px;
  border-bottom-left-radius: 200px;
  height: 60px;
  width: 50px;
}

.thumb {
  background-color: #b04213;
  border-radius: 100%;
  height: 25px;
  left: 12%;
  position: absolute;
  top: -5%;
  width: 25px;
}

.thumb::after {
  background-color: #c74b16;
  border-radius: 200px;
  box-shadow: inset -4px 4px #993a11;
  content: '';
  height: 35px;
  position: absolute;
  width: 18px;
}

@keyframes flightTrail {
  0% {
    transform: translate(0, -400px);
  }

  100% {
    transform: translate(0, 600px);
  }
}

@keyframes rotateLeft {
  from {
    transform: rotate(35deg);
  }

  to {
    transform: rotate(50deg);
  }
}

@keyframes rotateRight {
  from {
    transform: rotate(145deg);
  }

  to {
    transform: rotate(125deg);
  }
}

@keyframes easeUpg-body {
  from {
    transform: translateY(2%);
  }

  to {
    transform: translateY(5%);
  }
}

@keyframes easeUpg-head {
  from {
    transform: translateY(0%);
  }

  to {
    transform: translateY(1.5%);
  }
}

@keyframes easeUpg-hair {
  from {
    transform: translateY(0%);
  }

  to {
    transform: translateY(1.5%);
  }
}

@keyframes easeUpg-face {
  from {
    transform: translateY(0%);
  }

  to {
    transform: scaleY(0.9);
  }
}


.arrow-left-4 {
  margin: 20px 8px;
  width: 80px;
  height: 80px;
  cursor: pointer;
}

.arrow-left-4 polygon {
  fill: #337AB7;
  transition: fill 0.5s ease-out;
}

.arrow-left-4 {
  transform: rotate(180deg);
}

.arrow-left-4:hover polygon {
  fill: #BFE2FF;
}
