<svg class="arrow-left-4" (click)="backPage()" viewBox="0 0 100 85">
  <polygon points="58.263,0.056 100,41.85 58.263,83.641 30.662,83.641 62.438,51.866 0,51.866 0,31.611 62.213,31.611 30.605,0 58.263,0.056" />
</svg>

<div class="girl-wrap">
  <div class="girl">
    <ul class="g-trails">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>
    <div class="g-arm-right">
      <div class="g-hand"></div>
    </div>
    <div class="g-arm-left">
      <div class="g-hand"></div>
    </div>
    <div class="super-girl">
      <div class="g-ponytail"></div>
      <div class="g-hair"></div>
      <div class="g-body"></div>
      <div class="g-neck"></div>
      <div class="g-head">
        <div class="g-face">
          <div class="g-eyes"></div>
          <div class="g-smile">
            <div class="g-back"></div>
            <div class="g-teeth"></div>
            <div class="g-tongue"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
