<div *ngIf="!hideButtons">

  <div class="wrapper">
    <h1>Давай начнём учиться читать вместе!</h1>
    <div class="cols">
      <div class="col" ontouchstart="this.classList.toggle('hover');" (click)="showModal()">
        <div class="container">
          <div class="front" style="background-image: url(https://unsplash.it/501/501/)">
            <div class="inner">
              <p>Добавьте слово!</p>
            </div>
          </div>
          <div class="back">
            <div class="inner">
              <p>Если вы хотите добавить новое слово в список, нажимайте сюда</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col" ontouchstart="this.classList.toggle('hover');" (click)="showModalWords()">
        <div class="container">
          <div class="front" style="background-image:url(https://unsplash.it/511/511/)">
            <div class="inner">
              <p>Посмотрите список слов!</p>
            </div>
          </div>
          <div class="back">
            <div class="inner">
              <p>Здесь можно изучить весь список слов, которые может изучить ваш ребёнок</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col" ontouchstart="this.classList.toggle('hover');" (click)="open()">
        <div class="container">
          <div class="front" style="background-image: url(https://unsplash.it/502/502/)">
            <div class="inner">
              <p>Выберите цвет слов!</p>
            </div>
          </div>
          <div class="back">
            <div class="inner">
              <p>Ребёнку будет намного веселее изучать слова, если они напечатаны его любимым цветом</p>
            </div>
          </div>
          <nz-drawer [nzClosable]="false"
                     [nzVisible]="visible"
                     [nzPlacement]="placement"
                     nzTitle="Basic Drawer"
                     (nzOnClose)="close()">
            <div nz-row [nzGutter]="16">
              <ng-container *ngFor="let item of colors">
                <div nz-col class="square" (click)="selectColor(item)"
                     [style.background]="item" [nzSpan]="6"><div class="inner-box"></div></div>
              </ng-container>
            </div>
          </nz-drawer>
        </div>
      </div>
      <div class="col" ontouchstart="this.classList.toggle('hover');" (click)="goPresents()">
        <div class="container">
          <div class="front" style="background-image: url(https://unsplash.it/503/503/)">
            <div class="inner">
              <p>Подарки</p>
            </div>
          </div>
          <div class="back">
            <div class="inner">
              <p>Посмотрите подарки, которые доступны вашему ребёнку за пройденные им слова</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col" ontouchstart="this.classList.toggle('hover');">
        <div class="container">
          <div class="front" style="background-image: url(https://unsplash.it/504/504/">
            <div class="inner">
              <p>Читаем слоги</p>
            </div>
          </div>
          <div class="back" (click)="showModal()">
            <div class="inner">
              <p>Выбирайте количество слогов, которые будет читать ребёнок и приступайте к чтению</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col" ontouchstart="this.classList.toggle('hover');">
        <div class="container">
          <div class="front" style="background-image: url(https://unsplash.it/505/505/)">
            <div class="inner">
              <p>Читаем слова</p>
            </div>
          </div>
          <div class="back">
            <div class="inner">
              <p>Выбирайте количество простых слов, которые будет читать ребёнок и приступайте к чтению</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col" ontouchstart="this.classList.toggle('hover');">
        <div class="container">
          <div class="front" style="background-image: url(https://unsplash.it/506/506/)">
            <div class="inner">
              <p>Читаем словосочетания</p>
            </div>
          </div>
          <div class="back">
            <div class="inner">
              <p>Выбирайте количество словосочетаний, которые будет читать ребёнок и приступайте к чтению</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col" ontouchstart="this.classList.toggle('hover');">
        <div class="container">
          <div class="front" style="background-image: url(https://unsplash.it/508/508/)">
            <div class="inner">
              <p>Читаем предложения</p>
            </div>
          </div>
          <div class="back">
            <div class="inner">
              <p>Выбирайте количество предложений, которые будет читать ребёнок и приступайте к чтению</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div>

  <nz-modal [(nzVisible)]="isVisible" nzTitle="Введите слово:" (nzOnCancel)="handleCancel()"
            (nzOnOk)="addWord(newWord,newWordType);newWord='';createMessage('success')" [nzOkDisabled]="!newWord">
    <ng-container>
      <div>
        <input class="input-user" placeholder="Add word" [(ngModel)]="newWord" />
        <nz-select [(ngModel)]="newWordType" class="word-type-select">
          <nz-option [nzValue]="1" nzLabel="Существительное"></nz-option>
          <nz-option [nzValue]="2" nzLabel="Прилагательное"></nz-option>
          <nz-option [nzValue]="3" nzLabel="Глагол"></nz-option>
          <nz-option [nzValue]="4" nzLabel="Словосочетание"></nz-option>
        </nz-select>
      </div>
    </ng-container>
  </nz-modal>

  <nz-modal [(nzVisible)]="isViewing" nzTitle="Your words:" (nzOnCancel)="handleCancel()"
            (nzOnOk)="handleCancel()">
    <ng-container *ngFor="let word of words;index as i">
      <div class="outline">
        <div>
          <span>{{i+1}}. {{word.wordForLearn}} ({{word.wordType}})</span>
          <i nz-icon nzType="delete" nzTheme="outline" class="delete-icon"
             nz-popconfirm
             nzPopconfirmTitle="Are you sure delete word?"
             (nzOnConfirm)="deleteWord(word.id)"
             (nzOnCancel)="cancel()"
             nzPopconfirmPlacement="right">
          </i>
        </div>
      </div>
    </ng-container>
  </nz-modal>


</div>
<div>
  <h1 class="enter-count">
    Введите количество слов, которые хотите прочитать:
  </h1>
  <nz-input-number class="numberWords" [(ngModel)]="countOfWords" [nzSize]="'large'" [nzMin]="1"
                   [nzMax]="10000" [nzStep]="1"></nz-input-number>
</div>
<div>
  <button class="btn-hover color-6" (click)="showField();">START</button>
  <div *ngIf="hideButtons">
    <button class="btn-hover color-6" (click)="startCancel();">CANCEL</button>
  </div>
  <div *ngIf="isField==true">
    <div class="form-for-carusel">
      <nz-carousel [nzAutoPlay]="myCheckbox" [nzAutoPlaySpeed]="countOfWords">
        <div nz-carousel-content *ngFor="let word of wordsN; index as i">
          <h2 [style.color]="myColor"> {{i+1}}. {{word.wordForLearn}} </h2>
        </div>
      </nz-carousel>
    </div>
  </div>
</div>
<div class="bottomIndent">
  <br />
</div>
