<svg class="arrow-left-4" (click)="backPage()" viewBox="0 0 100 85">
  <polygon points="58.263,0.056 100,41.85 58.263,83.641 30.662,83.641 62.438,51.866 0,51.866 0,31.611 62.213,31.611 30.605,0 58.263,0.056" />
</svg>

<div class="wrapper">
  <div class="plant">
    <div class="flower">
      <div class="head">
        <div class="face"></div>
      </div>
    </div>
    <div class="leaf__one"></div>
    <div class="leaf__two"></div>
    <div class="leaf__three"></div>
  </div>
  <div class="pot">
    <div class="top"></div>
  </div>
</div>
