<p>present works!</p>

<div nz-card-grid [ngStyle]="gridStyle">
  <a routerLink="/catbicycle">Подарок 1</a>
</div>
<div nz-card-grid [ngStyle]="gridStyle">
  <a routerLink="/tree">Подарок 2</a>
</div>
<div nz-card-grid [ngStyle]="gridStyle">
  <a routerLink="/unicorn">Подарок 3</a>
</div>
<div nz-card-grid [ngStyle]="gridStyle">
  <a routerLink="/flower">Подарок 4</a>
</div>
<div nz-card-grid [ngStyle]="gridStyle">
  <a routerLink="/boydrone">Подарок 5</a>
</div>
<div nz-card-grid [ngStyle]="gridStyle">
  <a routerLink="/smilekiss">Подарок 6</a>
</div>
<div nz-card-grid [ngStyle]="gridStyle">
  <a routerLink="/girlrelax">Подарок 7</a>
</div>
<div nz-card-grid [ngStyle]="gridStyle">
  <a routerLink="/runrobot">Подарок 8</a>
</div>
<div nz-card-grid [ngStyle]="gridStyle">
  <a routerLink="/girl">Подарок 9</a>
</div>


<div class="wave_inner">
  <figure class="wave">
    <!--<img src="portrait-1.jpg" alt=""></img>-->
    <figcaption>Фото 1</figcaption>
  </figure>
  <figure class="wave">
    <!--<img src="portrait-2.jpg" alt=""></img>-->
    <figcaption>Фото 2</figcaption>
  </figure>
  <figure class="wave">
    <!--<img src="portrait-3.jpg" alt=""></img>-->
    <figcaption>Фото 3</figcaption>
  </figure>
</div>
