<svg class="arrow-left-4" (click)="backPage()" viewBox="0 0 100 85">
  <polygon points="58.263,0.056 100,41.85 58.263,83.641 30.662,83.641 62.438,51.866 0,51.866 0,31.611 62.213,31.611 30.605,0 58.263,0.056" />
</svg>

<svg width="100%" viewBox="0 0 752 500" fill="none" xmlns="http://www.w3.org/2000/svg">
  <g id="Group">
    <g id="BACKGROUND">
      <path id="Vector" d="M750 0H0V500H750V0Z" fill="#FFDCD6" />
    </g>
    <g id="OBJECTS">
      <g id="Vector_2" style="mix-blend-mode:multiply" opacity="0.5">
        <path d="M751.137 384.34H1.13672V500H751.137V384.34Z" fill="#FFDCD6" />
      </g>
      <g id="Vector_3" style="mix-blend-mode:multiply">
        <path d="M697.604 412.671C697.604 413.686 673.49 414.509 643.744 414.509C613.999 414.509 589.885 413.686 589.885 412.671C589.885 411.655 613.999 410.833 643.744 410.833C673.49 410.833 697.604 411.656 697.604 412.671Z" fill="#FFDCD6" />
      </g>
      <g id="Vector_4" style="mix-blend-mode:multiply">
        <path d="M129.904 407.833C159.187 407.833 182.925 405.768 182.925 403.222C182.925 400.675 159.187 398.611 129.904 398.611C100.621 398.611 76.8824 400.675 76.8824 403.222C76.8824 405.768 100.621 407.833 129.904 407.833Z" fill="#FFDCD6" />
      </g>
      <g id="Vector_5" style="mix-blend-mode:multiply">
        <path d="M523.558 398.921C523.558 400.981 458.574 402.651 378.413 402.651C298.251 402.651 233.267 400.981 233.267 398.921C233.267 396.862 298.251 395.192 378.413 395.192C458.574 395.192 523.558 396.861 523.558 398.921Z" fill="#FFDCD6" />
      </g>
      <path id="Vector_6" d="M537.331 285.49H214.942V329.276H537.331V285.49Z" fill="#222256" />
      <path id="Vector_7" d="M234.141 199.685H524.842C532.93 199.685 540.688 202.898 546.407 208.617C552.127 214.337 555.34 222.094 555.34 230.183V304.205H203.642V230.183C203.642 222.094 206.856 214.337 212.575 208.617C218.295 202.898 226.052 199.685 234.141 199.685Z" fill="#3847DC" />
      <g id="Vector_8" style="mix-blend-mode:multiply">
        <path d="M242.157 304.208H191.265L184.512 269.071C184.323 268.088 184.329 267.078 184.531 266.098C184.732 265.118 185.125 264.187 185.686 263.359C186.247 262.53 186.966 261.821 187.802 261.27C188.637 260.72 189.573 260.34 190.556 260.151L224.667 253.591C225.649 253.402 226.659 253.409 227.638 253.611C228.618 253.812 229.548 254.205 230.375 254.766C231.203 255.327 231.912 256.046 232.461 256.882C233.011 257.717 233.391 258.652 233.579 259.634L242.157 304.208Z" fill="#3847DC" />
      </g>
      <g id="Vector_9" style="mix-blend-mode:multiply">
        <path d="M576.003 269.071L569.242 304.208H518.358L526.928 259.634C527.311 257.651 528.465 255.9 530.137 254.767C531.81 253.634 533.863 253.211 535.847 253.591L569.959 260.151C571.943 260.533 573.694 261.688 574.827 263.36C575.96 265.033 576.383 267.087 576.003 269.071Z" fill="#3847DC" />
      </g>
      <path id="Vector_10" d="M575.793 260.15L541.684 253.591C540.701 253.402 539.692 253.409 538.712 253.61C537.732 253.812 536.801 254.204 535.973 254.765C535.145 255.326 534.436 256.045 533.885 256.88C533.335 257.715 532.954 258.651 532.766 259.633L522.855 311.174C521.989 315.674 519.583 319.733 516.05 322.651C512.517 325.57 508.077 327.166 503.494 327.166H257.019C252.436 327.166 247.996 325.57 244.463 322.651C240.93 319.733 238.524 315.674 237.658 311.174L227.748 259.633C227.366 257.649 226.212 255.898 224.54 254.765C222.867 253.632 220.813 253.21 218.829 253.591L184.721 260.15C183.738 260.339 182.803 260.719 181.968 261.27C181.132 261.82 180.414 262.53 179.853 263.358C179.292 264.186 178.899 265.116 178.698 266.096C178.496 267.076 178.49 268.086 178.679 269.068L194.96 353.742C195.176 354.864 195.641 355.923 196.322 356.84C197.004 357.758 197.883 358.51 198.895 359.04C200.894 360.726 203.426 361.649 206.04 361.646H553.507C555.73 361.649 557.903 360.983 559.741 359.734C561.188 359.409 562.509 358.669 563.541 357.605C564.573 356.54 565.272 355.198 565.553 353.742L581.834 269.068C582.023 268.086 582.017 267.076 581.815 266.096C581.614 265.116 581.221 264.186 580.66 263.358C580.099 262.53 579.381 261.82 578.546 261.27C577.71 260.719 576.775 260.339 575.793 260.15Z" fill="#3847DC" />
      <path id="Vector_11" d="M533.11 370.42H223.716C222.564 370.42 221.423 370.193 220.358 369.752C219.294 369.311 218.327 368.665 217.512 367.85C216.697 367.036 216.051 366.068 215.61 365.004C215.169 363.939 214.942 362.798 214.942 361.646H541.884C541.884 363.973 540.959 366.205 539.314 367.85C537.668 369.496 535.437 370.42 533.11 370.42Z" fill="#00000C" />
      <path id="Vector_12" d="M227.032 401.611H221.981L227.816 370.42H236.201L227.032 401.611Z" fill="#00000C" />
      <path id="Vector_13" d="M527.111 401.611H532.161L526.326 370.42H517.941L527.111 401.611Z" fill="#00000C" />
      <g id="Vector_14" style="mix-blend-mode:multiply">
        <path d="M205.016 70.7992H87.4005V188.415H205.016V70.7992Z" stroke="#FFDCD6" stroke-width="2" stroke-miterlimit="10" />
      </g>
      <g id="Vector_15" style="mix-blend-mode:multiply">
        <path d="M192.153 83.6621H100.263V175.552H192.153V83.6621Z" fill="#FFDCD6" />
      </g>
      <path id="Vector_16" d="M130.318 317.237C131.892 288.921 132.557 260.575 132.312 232.197C132.063 203.921 130.905 175.673 128.839 147.452C127.677 131.584 126.228 115.74 124.491 99.9205C124.283 98.022 121.281 98.0008 121.491 99.9205C124.581 128.111 126.764 156.382 128.039 184.731C129.306 212.98 129.663 241.25 129.113 269.541C128.802 285.449 128.204 301.348 127.318 317.237C127.211 319.166 130.211 319.16 130.318 317.237Z" fill="#FD8970" />
      <g id="l1">
        <path id="Vector_17" d="M128.375 161.956C127.636 154.819 121.268 149.514 117.085 143.685C108.46 131.664 107.204 115.914 107.822 101.132C108.441 86.3499 110.611 71.3826 107.689 56.8789C123.753 69.2452 134.817 86.9915 138.85 106.859C142.766 126.54 138.575 147.605 128.504 164.961" fill="url(#paint0_linear)" />
        <path id="Vector_18" d="M128.375 161.956C128.036 159.679 127.226 157.498 125.997 155.551C124.777 153.609 123.403 151.767 121.888 150.045C120.402 148.292 118.853 146.583 117.427 144.751C116.699 143.845 116.073 142.864 115.404 141.912C114.776 140.935 114.182 139.932 113.616 138.916C111.446 134.792 109.843 130.393 108.848 125.84C107.858 121.3 107.255 116.684 107.045 112.042C106.545 102.761 107.437 93.5258 107.93 84.3606C108.173 79.7744 108.323 75.1924 108.2 70.6272C108.084 66.0762 107.591 61.5426 106.725 57.0732L106.214 54.5269L108.286 56.0975C124.534 68.6254 135.676 86.6312 139.638 106.762C141.465 116.748 141.386 126.99 139.405 136.946C137.432 146.849 133.743 156.33 128.504 164.961C133.363 156.183 136.712 146.651 138.41 136.763C140.174 126.933 140.063 116.859 138.082 107.071C134 87.4221 123.004 69.89 107.092 57.6605L108.653 56.6849C109.512 61.2684 109.989 65.9154 110.079 70.5779C110.175 75.223 109.993 79.8538 109.72 84.4628C109.17 93.678 108.254 102.832 108.528 111.981C108.648 116.549 109.155 121.098 110.043 125.581C110.943 130.055 112.423 134.392 114.446 138.482C114.969 139.492 115.52 140.492 116.105 141.469C116.732 142.421 117.315 143.404 118.003 144.316C119.351 146.162 120.844 147.917 122.28 149.723C123.756 151.505 125.083 153.407 126.246 155.408C127.402 157.419 128.127 159.649 128.375 161.956V161.956Z" fill="#FD8970" />
        <g id="Group_2" style="mix-blend-mode:multiply">
          <g id="Vector_19" style="mix-blend-mode:multiply">
            <path d="M116.54 75.8999C119.063 80.7955 121.269 85.8477 123.146 91.0253C124.11 93.6151 124.872 96.2768 125.63 98.9369C126.342 101.611 126.93 104.316 127.467 107.032C128.465 112.476 129.026 117.992 129.142 123.526C129.288 129.045 128.894 134.566 127.965 140.009C127.665 134.507 127.364 129.072 126.805 123.667C126.511 120.967 126.231 118.27 125.82 115.592C125.467 112.906 125.015 110.236 124.518 107.575C123.559 102.246 122.319 96.9742 120.921 91.7245C119.504 86.4766 117.885 81.244 116.54 75.8999Z" fill="#FD8970" />
          </g>
        </g>
      </g>
      <g id="l5">
        <path id="Vector_20" d="M131.615 236.347C131.782 211.308 138.965 186.817 152.349 165.654C153.124 164.426 151.177 163.296 150.406 164.518C139.876 181.257 133.09 200.075 130.512 219.681C129.787 225.207 129.403 230.773 129.365 236.347C129.375 236.638 129.498 236.915 129.708 237.117C129.918 237.32 130.198 237.433 130.49 237.433C130.782 237.433 131.062 237.32 131.272 237.117C131.482 236.915 131.605 236.638 131.615 236.347V236.347Z" fill="#FD8970" />
        <path id="Vector_21" d="M138.309 191.498C134.502 178.052 142.797 162.565 150.426 150.863C158.055 139.16 167.09 128.153 172.115 115.118C174.887 126.905 175.224 139.133 173.108 151.055C170.991 162.977 166.465 174.341 159.806 184.454C157.348 188.14 154.45 191.772 150.426 193.628C146.402 195.483 141.003 195.016 138.309 191.498Z" fill="url(#paint1_linear)" />
        <path id="Vector_22" d="M139.033 191.299C135.408 176.735 143.825 162.264 151.554 150.512C159.115 139.015 167.678 128.197 172.838 115.318H171.392C174.916 130.498 174.399 146.337 169.891 161.254C167.687 168.553 164.527 175.528 160.494 181.998C156.344 188.638 146.849 199.697 138.84 190.968C138.186 190.255 137.127 191.318 137.779 192.028C142.006 196.635 148.659 196.163 153.48 192.677C160.525 187.582 164.988 178.03 168.242 170.257C175.52 152.744 177.127 133.392 172.838 114.919C172.656 114.128 171.643 114.291 171.392 114.919C165.476 129.685 154.939 141.713 146.807 155.217C140.285 166.046 134.385 178.833 137.586 191.697C137.644 191.883 137.772 192.039 137.943 192.132C138.114 192.225 138.314 192.248 138.502 192.196C138.689 192.145 138.85 192.022 138.949 191.855C139.048 191.687 139.078 191.488 139.033 191.299L139.033 191.299Z" fill="#FD8970" />
        <g id="Group_3" style="mix-blend-mode:multiply">
          <g id="Vector_23" style="mix-blend-mode:multiply">
            <path d="M141.826 190.112C142.641 184.758 144.362 179.582 146.915 174.806C149.427 170.046 152.195 165.425 155.207 160.964C158.143 156.497 161.025 152.023 163.5 147.334C166.041 142.653 167.909 137.637 169.047 132.433C168.672 137.846 167.265 143.137 164.901 148.021C162.579 152.892 159.898 157.583 156.88 162.057C153.933 166.535 150.95 170.952 148.282 175.546C145.552 180.124 143.384 185.014 141.826 190.112V190.112Z" fill="#FD8970" />
          </g>
        </g>
      </g>
      <g id="l4">
        <path id="Vector_24" d="M130.087 256.188C134.369 242.411 129.273 227.356 121.682 215.086C114.092 202.816 104.04 192.167 96.9195 179.618C93.5852 194.12 95.0565 209.312 101.112 222.905C107.154 236.366 117.125 249.138 130.087 256.188Z" fill="url(#paint2_linear)" />
        <path id="Vector_25" d="M130.81 256.388C139.457 225.93 111.252 202.836 97.5671 179.24C97.4903 179.116 97.3793 179.016 97.2475 178.954C97.1157 178.891 96.9685 178.868 96.8238 178.887C96.6791 178.906 96.5429 178.966 96.4316 179.06C96.3203 179.155 96.2386 179.279 96.1963 179.419C89.776 208.762 103.145 241.868 129.708 256.836C129.88 256.928 130.08 256.951 130.268 256.898C130.455 256.846 130.615 256.722 130.713 256.554C130.811 256.386 130.84 256.187 130.794 255.998C130.748 255.809 130.63 255.645 130.466 255.541C104.509 240.915 91.3653 208.508 97.6427 179.818L96.2719 179.997C109.714 203.175 137.855 226.082 129.364 255.989C129.319 256.178 129.349 256.378 129.448 256.545C129.547 256.713 129.707 256.835 129.894 256.887C130.082 256.939 130.282 256.916 130.453 256.823C130.624 256.729 130.752 256.574 130.81 256.388V256.388Z" fill="#FD8970" />
        <g id="Group_4" style="mix-blend-mode:multiply">
          <g id="Vector_26" style="mix-blend-mode:multiply">
            <path d="M100.468 192.712C101.783 197.341 103.712 201.773 106.203 205.89C107.435 207.936 108.691 209.971 110.055 211.951C111.392 213.947 112.759 215.936 114.156 217.918C115.514 219.932 116.89 221.952 118.192 224.033C119.499 226.124 120.698 228.28 121.786 230.493C124.077 234.896 125.422 239.728 125.736 244.681C124.293 240.088 122.274 235.696 119.729 231.61C118.467 229.579 117.192 227.553 115.811 225.582C114.464 223.589 113.089 221.601 111.687 219.618C110.331 217.598 108.954 215.574 107.67 213.478C106.377 211.376 105.198 209.205 104.139 206.975C101.905 202.54 100.653 197.675 100.468 192.712V192.712Z" fill="#FD8970" />
          </g>
        </g>
      </g>
      <g id="l3">
        <path id="Vector_27" d="M129.605 315.228C126.955 305.526 123.864 295.961 120.33 286.535C119.826 285.191 117.65 285.773 118.16 287.133C121.691 296.55 124.783 306.114 127.435 315.826C127.522 316.104 127.714 316.338 127.971 316.478C128.227 316.617 128.528 316.652 128.809 316.575C129.09 316.497 129.331 316.313 129.479 316.062C129.628 315.811 129.673 315.512 129.605 315.228V315.228Z" fill="#FD8970" />
        <path id="Vector_28" d="M124.253 301.18C126.371 295.588 125.268 290.319 123.068 284.759C120.867 279.198 117.342 274.279 113.852 269.424C107.676 260.831 101.5 252.238 95.3234 243.645C95.5601 254.934 96.2644 266.45 100.439 276.942C104.614 287.433 113.197 298.336 124.088 301.315" fill="url(#paint3_linear)" />
        <path id="Vector_29" d="M124.977 301.38C128.111 291.71 123.462 282.163 118.115 274.194C111.06 263.678 103.362 253.549 95.971 243.266C95.8849 243.129 95.7568 243.023 95.6058 242.963C95.4547 242.904 95.2885 242.895 95.1319 242.938C94.9753 242.98 94.8364 243.072 94.7359 243.199C94.6353 243.326 94.5784 243.483 94.5734 243.645C95.0792 265.286 99.556 294.59 123.889 302.038C124.814 302.322 125.209 300.874 124.288 300.592C100.647 293.355 96.5622 264.56 96.0734 243.645L94.6758 244.024C101.027 252.859 107.377 261.696 113.728 270.532C119.959 279.245 127.148 289.822 123.53 300.981C123.232 301.901 124.68 302.295 124.977 301.38V301.38Z" fill="#FD8970" />
        <g id="Group_5" style="mix-blend-mode:multiply">
          <g id="Vector_30" style="mix-blend-mode:multiply">
            <path d="M99.3971 255.253C101.027 258.863 103.147 262.231 105.697 265.263C108.174 268.338 110.842 271.302 113.283 274.528C115.738 277.766 117.766 281.307 119.315 285.064C120.872 288.793 121.879 292.727 122.306 296.745C121.123 292.958 119.648 289.268 117.894 285.709C116.14 282.195 114.061 278.853 111.683 275.727C109.341 272.562 106.725 269.528 104.448 266.189C102.038 262.925 100.32 259.204 99.3971 255.253V255.253Z" fill="#FD8970" />
          </g>
        </g>
      </g>
      <g id="leaf2">
        <path id="Vector_31" d="M131.075 288.565C130.479 269.327 136.129 250.414 147.18 234.655C148.011 233.466 146.062 232.34 145.237 233.52C136.559 245.995 131.108 260.426 129.371 275.522C128.873 279.851 128.69 284.21 128.825 288.565C128.868 290.01 131.119 290.016 131.075 288.565V288.565Z" fill="#FD8970" />
        <path id="Vector_32" d="M138.723 246.818C135.036 237.34 137.16 226.181 141.854 217.159C146.548 208.137 153.901 200.787 161.632 194.179C162.58 208.185 160.388 222.227 155.215 235.278C153.736 239.001 151.907 242.771 148.746 245.231C145.585 247.69 141.985 249.136 138.862 246.628" fill="url(#paint4_linear)" />
        <path id="Vector_33" d="M139.446 246.619C132.141 225.977 147.53 207.334 162.162 194.709L160.882 194.179C161.498 203.834 160.655 213.527 158.38 222.931C156.664 229.891 150.497 252.919 139.241 245.981C138.417 245.473 137.662 246.77 138.484 247.276C147.384 252.762 154.062 240.514 156.595 233.776C161.275 221.128 163.246 207.637 162.382 194.179C162.377 194.032 162.33 193.891 162.247 193.77C162.164 193.65 162.048 193.556 161.913 193.5C161.778 193.444 161.629 193.428 161.485 193.455C161.341 193.481 161.208 193.548 161.101 193.648C146.084 206.606 130.516 225.872 138 247.017C138.32 247.921 139.77 247.532 139.446 246.619H139.446Z" fill="#FD8970" />
        <g id="Group_6" style="mix-blend-mode:multiply">
          <g id="Vector_34" style="mix-blend-mode:multiply">
            <path d="M141.55 243.24C141.812 240.042 142.361 236.875 143.192 233.776C144.816 227.552 147.314 221.589 150.613 216.067C152.241 213.302 154.115 210.69 156.215 208.263C154.792 211.137 153.353 213.956 151.988 216.806C150.636 219.66 149.319 222.521 148.118 225.431C146.882 228.327 145.765 231.271 144.677 234.237C143.601 237.207 142.6 240.211 141.55 243.24Z" fill="#FD8970" />
          </g>
        </g>
      </g>
      <g id="leaf1">
        <path id="Vector_35" d="M126.896 189.967C127.36 182.038 122.551 174.857 117.771 168.513C106.802 153.956 94.867 140.152 82.0469 127.195C83.3683 145.971 91.0281 165.416 106.761 175.749C113.523 180.191 121.743 183.009 126.493 189.558" fill="url(#paint5_linear)" />
        <path id="Vector_36" d="M127.646 189.967C127.796 177.673 118.268 167.666 111.037 158.63C102.106 147.493 92.6064 136.824 82.5772 126.665C82.4709 126.564 82.3376 126.495 82.1933 126.469C82.049 126.442 81.9001 126.457 81.7645 126.513C81.6289 126.57 81.5126 126.664 81.4296 126.785C81.3465 126.906 81.3004 127.048 81.2969 127.195C82.3444 140.418 86.061 153.709 94.0034 164.511C97.5464 169.378 101.961 173.547 107.024 176.805C113.607 181.004 121.002 183.765 125.962 190.089C126.558 190.847 127.612 189.779 127.023 189.028C123.133 184.069 117.821 181.228 112.407 178.212C106.534 175.123 101.3 170.949 96.9821 165.91C88.0312 155.069 83.8919 141.018 82.7969 127.195L81.5165 127.725C90.2563 136.598 98.5949 145.838 106.532 155.446C114.396 165.006 126.308 176.741 126.146 189.967C126.153 190.162 126.235 190.346 126.375 190.481C126.515 190.616 126.702 190.692 126.896 190.692C127.091 190.692 127.278 190.616 127.418 190.481C127.557 190.346 127.639 190.162 127.646 189.967V189.967Z" fill="#FD8970" />
        <path id="Vector_37" d="M124.839 186.307C126.906 191.367 128.457 196.624 129.469 201.996C129.647 202.943 131.093 202.542 130.915 201.597C129.903 196.225 128.352 190.969 126.285 185.908C125.925 185.027 124.473 185.412 124.839 186.307Z" fill="#FD8970" />
        <g id="Group_7" style="mix-blend-mode:multiply">
          <g id="Vector_38" style="mix-blend-mode:multiply">
            <path d="M90.2594 142.378C91.707 145.886 93.5497 149.217 95.7517 152.308C97.9746 155.331 100.54 158.085 103.397 160.517C106.208 163.034 109.246 165.361 112.108 167.945C115.059 170.45 117.63 173.371 119.739 176.616C117.056 173.912 114.172 171.415 111.112 169.146C108.088 166.84 104.991 164.578 102.074 162.015C99.1006 159.47 96.5323 156.487 94.4568 153.168C92.4093 149.859 90.9866 146.201 90.2594 142.378V142.378Z" fill="#FD8970" />
          </g>
        </g>
      </g>
      <g id="Group_8">
        <path id="Vector_39" d="M91.2802 311.493H167.37V372.042C167.37 380.405 164.048 388.425 158.134 394.339C152.221 400.252 144.201 403.574 135.838 403.574H122.813C118.672 403.574 114.571 402.759 110.746 401.174C106.92 399.589 103.444 397.267 100.516 394.339C94.6024 388.425 91.2802 380.405 91.2802 372.042V311.493Z" fill="url(#paint6_linear)" />
        <g id="Group_9" style="mix-blend-mode:multiply" opacity="0.25">
          <g id="Vector_40" style="mix-blend-mode:multiply" opacity="0.25">
            <path d="M139.416 406.716C139.422 403.378 140.309 400.101 141.987 397.215C143.664 394.329 146.073 391.937 148.97 390.279C151.868 388.621 155.151 387.757 158.489 387.773C161.827 387.789 165.102 388.686 167.983 390.371C168.295 390.54 168.661 390.581 169.003 390.485C169.344 390.389 169.636 390.164 169.815 389.858C169.994 389.551 170.047 389.187 169.963 388.842C169.879 388.497 169.664 388.198 169.364 388.009C166.736 386.518 163.833 385.577 160.83 385.242C157.828 384.906 154.788 385.184 151.896 386.058C149.091 386.942 146.495 388.389 144.268 390.311C142.042 392.233 140.231 394.59 138.947 397.236C137.497 400.188 136.722 403.427 136.68 406.716C136.692 407.071 136.841 407.407 137.097 407.653C137.352 407.9 137.693 408.038 138.048 408.038C138.402 408.038 138.743 407.9 138.999 407.653C139.254 407.407 139.403 407.071 139.416 406.716V406.716Z" fill="#97B8FF" />
          </g>
        </g>
        <g id="Group_10" style="mix-blend-mode:multiply" opacity="0.25">
          <g id="Vector_41" style="mix-blend-mode:multiply" opacity="0.25">
            <path d="M152.406 403.967C152.069 402.61 152.018 401.198 152.257 399.82C152.373 399.222 152.564 398.641 152.825 398.09C152.971 397.8 153.136 397.519 153.318 397.25C153.443 397.055 153.588 396.873 153.751 396.707C154.095 396.306 154.506 395.968 154.966 395.708C155.183 395.574 155.414 395.465 155.655 395.383C155.797 395.335 155.941 395.294 156.087 395.258C156.136 395.246 156.57 395.159 156.386 395.186C156.907 395.103 157.439 395.126 157.951 395.254C158.444 395.368 158.905 395.594 159.299 395.912C159.56 396.161 159.906 396.299 160.266 396.299C160.627 396.299 160.973 396.161 161.234 395.912C161.487 395.654 161.63 395.307 161.63 394.945C161.63 394.583 161.487 394.236 161.234 393.978C159.908 392.896 158.222 392.354 156.514 392.462C154.806 392.569 153.202 393.317 152.022 394.557C149.358 397.225 148.979 401.172 149.767 404.695C149.815 404.868 149.896 405.031 150.006 405.173C150.117 405.315 150.254 405.434 150.411 405.523C150.567 405.612 150.739 405.669 150.918 405.692C151.096 405.714 151.278 405.701 151.451 405.653C151.624 405.605 151.787 405.524 151.929 405.413C152.071 405.302 152.189 405.165 152.278 405.008C152.367 404.852 152.424 404.679 152.446 404.501C152.467 404.322 152.454 404.141 152.406 403.967V403.967Z" fill="#97B8FF" />
          </g>
        </g>
        <g id="Group_11" style="mix-blend-mode:multiply" opacity="0.25">
          <g id="Vector_42" style="mix-blend-mode:multiply" opacity="0.25">
            <path d="M87.8203 348.345C90.461 346.779 93.4531 345.901 96.5217 345.792C99.5903 345.684 102.637 346.348 105.382 347.725C107.974 349.114 110.188 351.116 111.831 353.556C113.473 355.996 114.495 358.801 114.807 361.726C115.031 364.831 114.589 367.948 113.511 370.869C112.482 374.073 111.204 377.398 111.409 380.824C111.812 387.567 118.149 390.487 121.529 395.579C123.399 398.406 124.619 401.613 125.099 404.968C125.58 408.323 125.31 411.743 124.309 414.981C123.779 416.665 126.419 417.385 126.947 415.708C128.854 409.469 128.311 402.738 125.428 396.885C123.963 394.008 121.989 391.421 119.602 389.247C117.274 387.041 114.628 384.753 114.191 381.377C113.725 377.781 115.35 374.193 116.39 370.836C117.459 367.696 117.825 364.36 117.462 361.063C117.071 357.93 115.974 354.927 114.254 352.28C112.534 349.632 110.235 347.41 107.531 345.781C104.306 343.962 100.66 343.023 96.958 343.059C93.256 343.094 89.6284 344.102 86.4393 345.983C86.1392 346.172 85.9244 346.471 85.8402 346.816C85.7561 347.161 85.8092 347.525 85.9883 347.831C86.1675 348.138 86.4586 348.363 86.8004 348.459C87.1422 348.555 87.5079 348.514 87.8203 348.345V348.345Z" fill="#97B8FF" />
          </g>
        </g>
        <g id="Group_12" style="mix-blend-mode:multiply" opacity="0.25">
          <g id="Vector_43" style="mix-blend-mode:multiply" opacity="0.25">
            <path d="M87.9825 360.398C89.0988 356.599 94.0779 356.715 97.1479 357.545C98.0008 357.707 98.799 358.082 99.469 358.634C100.139 359.186 100.659 359.898 100.982 360.704C101.468 362.274 101.599 363.932 101.365 365.559C101.003 368.898 99.8931 372.111 98.1176 374.961C96.3422 377.811 93.9471 380.225 91.1104 382.021C89.6241 382.957 90.9956 385.326 92.4914 384.384C98.1345 380.82 102.136 375.166 103.62 368.659C104.309 365.544 104.625 361.98 103.225 359.012C101.679 355.734 98.0608 354.663 94.7114 354.379C90.8159 354.049 86.5368 355.612 85.3441 359.671C85.2618 360.016 85.3167 360.379 85.4973 360.685C85.6778 360.99 85.97 361.214 86.3121 361.308C86.6542 361.403 87.0196 361.36 87.3312 361.191C87.6428 361.021 87.8763 360.737 87.9825 360.398Z" fill="#97B8FF" />
          </g>
        </g>
        <g id="Group_13" style="mix-blend-mode:multiply" opacity="0.25">
          <g id="Vector_44" style="mix-blend-mode:multiply" opacity="0.25">
            <path d="M171.961 337.849C156.63 338.736 139.077 343.016 130.276 356.89C128.344 359.937 127.04 363.733 128.018 367.335C128.876 370.49 131.412 373.335 134.773 373.736C138.729 374.208 142.386 371.334 145.719 369.621C149.301 367.779 153.153 366.12 157.207 365.754C161.187 365.395 165.601 366.143 168.576 369.016C169.937 370.247 170.906 371.85 171.362 373.628C171.818 375.405 171.74 377.278 171.139 379.011C170.5 380.653 173.145 381.365 173.777 379.739C176.306 373.231 171.703 366.407 165.656 364.073C158.432 361.285 150.661 363.986 144.157 367.352C142.415 368.253 140.731 369.281 138.965 370.131C137.328 370.919 135.411 371.479 133.695 370.606C130.654 369.059 129.95 365.272 130.789 362.247C131.772 358.705 134.32 355.65 136.912 353.137C139.53 350.635 142.492 348.519 145.709 346.855C153.776 342.607 162.952 341.106 171.961 340.585C173.711 340.484 173.723 337.747 171.961 337.849V337.849Z" fill="#97B8FF" />
          </g>
        </g>
        <g id="Group_14" style="mix-blend-mode:multiply" opacity="0.25">
          <g id="Vector_45" style="mix-blend-mode:multiply" opacity="0.25">
            <path d="M172.057 341.941C162.784 343.321 153.992 346.957 146.455 352.531C144.818 353.748 142.978 355.148 143.098 357.418C143.216 359.642 145.213 360.632 147.218 360.276C149.55 359.723 151.831 358.973 154.036 358.033C156.326 357.147 158.678 356.433 161.073 355.897C165.408 355.021 170.465 355.507 173.57 358.973C174.747 360.287 176.677 358.347 175.505 357.038C169.851 350.726 160.642 352.746 153.695 355.255C151.578 356.019 149.47 356.855 147.297 357.45C146.665 357.623 145.548 357.919 145.878 356.854C146.139 356.011 147.172 355.388 147.836 354.894C155.159 349.425 163.737 345.879 172.784 344.58C174.52 344.321 173.782 341.684 172.057 341.941V341.941Z" fill="#97B8FF" />
          </g>
        </g>
        <g id="Group_15" style="mix-blend-mode:multiply" opacity="0.25">
          <g id="Vector_46" style="mix-blend-mode:multiply" opacity="0.25">
            <path d="M101.773 404.761C102.045 401.897 102.322 398.848 103.682 396.258C104.238 395.199 105.078 393.804 106.292 393.403C107.586 392.975 108.736 394.284 109.512 395.138C111.338 397.194 112.676 399.638 113.423 402.284C114.171 404.931 114.309 407.713 113.827 410.421C113.509 412.143 116.145 412.881 116.466 411.149C117.47 405.784 116.36 400.239 113.368 395.674C111.947 393.54 109.844 390.77 107.059 390.588C104.218 390.402 102.126 393.106 101.054 395.416C99.8541 398.393 99.1721 401.554 99.0371 404.761C98.871 406.513 101.608 406.502 101.773 404.761V404.761Z" fill="#97B8FF" />
          </g>
        </g>
      </g>
      <path id="Vector_47" d="M167.37 321.677H91.2803V326.677H167.37V321.677Z" fill="#CAF9F9" />
      <g id="Group_16">
        <g id="Group_17" style="mix-blend-mode:multiply" opacity="0.25">
          <g id="Vector_48" style="mix-blend-mode:multiply" opacity="0.25">
            <path d="M139.416 406.716C139.422 403.378 140.309 400.101 141.987 397.215C143.664 394.329 146.073 391.937 148.97 390.279C151.868 388.621 155.151 387.757 158.489 387.773C161.827 387.789 165.102 388.686 167.983 390.371C168.295 390.54 168.661 390.581 169.003 390.485C169.344 390.389 169.636 390.164 169.815 389.858C169.994 389.551 170.047 389.187 169.963 388.842C169.879 388.497 169.664 388.198 169.364 388.009C166.736 386.518 163.833 385.577 160.83 385.242C157.828 384.906 154.788 385.184 151.896 386.058C149.091 386.942 146.495 388.389 144.268 390.311C142.042 392.233 140.231 394.59 138.947 397.236C137.497 400.188 136.722 403.427 136.68 406.716C136.692 407.071 136.841 407.407 137.097 407.653C137.352 407.9 137.693 408.038 138.048 408.038C138.402 408.038 138.743 407.9 138.999 407.653C139.254 407.407 139.403 407.071 139.416 406.716V406.716Z" fill="#97B8FF" />
          </g>
        </g>
        <g id="Group_18" style="mix-blend-mode:multiply" opacity="0.25">
          <g id="Vector_49" style="mix-blend-mode:multiply" opacity="0.25">
            <path d="M152.406 403.967C152.069 402.61 152.018 401.198 152.257 399.82C152.373 399.222 152.564 398.641 152.825 398.09C152.971 397.8 153.136 397.519 153.318 397.25C153.443 397.055 153.588 396.873 153.751 396.707C154.095 396.306 154.506 395.968 154.966 395.708C155.183 395.574 155.414 395.465 155.655 395.383C155.797 395.335 155.941 395.294 156.087 395.258C156.136 395.246 156.57 395.159 156.386 395.186C156.907 395.103 157.439 395.126 157.951 395.254C158.444 395.368 158.905 395.594 159.299 395.912C159.56 396.161 159.906 396.299 160.266 396.299C160.627 396.299 160.973 396.161 161.234 395.912C161.487 395.654 161.63 395.307 161.63 394.945C161.63 394.583 161.487 394.236 161.234 393.978C159.908 392.896 158.222 392.354 156.514 392.462C154.806 392.569 153.202 393.317 152.022 394.557C149.358 397.225 148.979 401.172 149.767 404.695C149.815 404.868 149.896 405.031 150.006 405.173C150.117 405.315 150.254 405.434 150.411 405.523C150.567 405.612 150.739 405.669 150.918 405.692C151.096 405.714 151.278 405.701 151.451 405.653C151.624 405.605 151.787 405.524 151.929 405.413C152.071 405.302 152.189 405.165 152.278 405.008C152.367 404.852 152.424 404.679 152.446 404.501C152.467 404.322 152.454 404.141 152.406 403.967V403.967Z" fill="#97B8FF" />
          </g>
        </g>
        <g id="Group_19" style="mix-blend-mode:multiply" opacity="0.25">
          <g id="Vector_50" style="mix-blend-mode:multiply" opacity="0.25">
            <path d="M87.8203 348.345C90.461 346.779 93.4531 345.901 96.5217 345.792C99.5903 345.684 102.637 346.348 105.382 347.725C107.974 349.114 110.188 351.116 111.831 353.556C113.473 355.996 114.495 358.801 114.807 361.726C115.031 364.831 114.589 367.948 113.511 370.869C112.482 374.073 111.204 377.398 111.409 380.824C111.812 387.567 118.149 390.487 121.529 395.579C123.399 398.406 124.619 401.613 125.099 404.968C125.58 408.323 125.31 411.743 124.309 414.981C123.779 416.665 126.419 417.385 126.947 415.708C128.854 409.469 128.311 402.738 125.428 396.885C123.963 394.008 121.989 391.421 119.602 389.247C117.274 387.041 114.628 384.753 114.191 381.377C113.725 377.781 115.35 374.193 116.39 370.836C117.459 367.696 117.825 364.36 117.462 361.063C117.071 357.93 115.974 354.927 114.254 352.28C112.534 349.632 110.235 347.41 107.531 345.781C104.306 343.962 100.66 343.023 96.958 343.059C93.256 343.094 89.6284 344.102 86.4393 345.983C86.1392 346.172 85.9244 346.471 85.8402 346.816C85.7561 347.161 85.8092 347.525 85.9883 347.831C86.1675 348.138 86.4586 348.363 86.8004 348.459C87.1422 348.555 87.5079 348.514 87.8203 348.345V348.345Z" fill="#97B8FF" />
          </g>
        </g>
        <g id="Group_20" style="mix-blend-mode:multiply" opacity="0.25">
          <g id="Vector_51" style="mix-blend-mode:multiply" opacity="0.25">
            <path d="M87.9825 360.398C89.0988 356.599 94.0779 356.715 97.1479 357.545C98.0008 357.707 98.799 358.082 99.469 358.634C100.139 359.186 100.659 359.898 100.982 360.704C101.468 362.274 101.599 363.932 101.365 365.559C101.003 368.898 99.8931 372.111 98.1176 374.961C96.3422 377.811 93.9471 380.225 91.1104 382.021C89.6241 382.957 90.9956 385.326 92.4914 384.384C98.1345 380.82 102.136 375.166 103.62 368.659C104.309 365.544 104.625 361.98 103.225 359.012C101.679 355.734 98.0608 354.663 94.7114 354.379C90.8159 354.049 86.5368 355.612 85.3441 359.671C85.2618 360.016 85.3167 360.379 85.4973 360.685C85.6778 360.99 85.97 361.214 86.3121 361.308C86.6542 361.403 87.0196 361.36 87.3312 361.191C87.6428 361.021 87.8763 360.737 87.9825 360.398Z" fill="#97B8FF" />
          </g>
        </g>
        <g id="Group_21" style="mix-blend-mode:multiply" opacity="0.25">
          <g id="Vector_52" style="mix-blend-mode:multiply" opacity="0.25">
            <path d="M171.961 337.849C156.63 338.736 139.077 343.016 130.276 356.89C128.344 359.937 127.04 363.733 128.018 367.335C128.876 370.49 131.412 373.335 134.773 373.736C138.729 374.208 142.386 371.334 145.719 369.621C149.301 367.779 153.153 366.12 157.207 365.754C161.187 365.395 165.601 366.143 168.576 369.016C169.937 370.247 170.906 371.85 171.362 373.628C171.818 375.405 171.74 377.278 171.139 379.011C170.5 380.653 173.145 381.365 173.777 379.739C176.306 373.231 171.703 366.407 165.656 364.073C158.432 361.285 150.661 363.986 144.157 367.352C142.415 368.253 140.731 369.281 138.965 370.131C137.328 370.919 135.411 371.479 133.695 370.606C130.654 369.059 129.95 365.272 130.789 362.247C131.772 358.705 134.32 355.65 136.912 353.137C139.53 350.635 142.492 348.519 145.709 346.855C153.776 342.607 162.952 341.106 171.961 340.585C173.711 340.484 173.723 337.747 171.961 337.849V337.849Z" fill="#97B8FF" />
          </g>
        </g>
        <g id="Group_22" style="mix-blend-mode:multiply" opacity="0.25">
          <g id="Vector_53" style="mix-blend-mode:multiply" opacity="0.25">
            <path d="M172.057 341.941C162.784 343.321 153.992 346.957 146.455 352.531C144.818 353.748 142.978 355.148 143.098 357.418C143.216 359.642 145.213 360.632 147.218 360.276C149.55 359.723 151.831 358.973 154.036 358.033C156.326 357.147 158.678 356.433 161.073 355.897C165.408 355.021 170.465 355.507 173.57 358.973C174.747 360.287 176.677 358.347 175.505 357.038C169.851 350.726 160.642 352.746 153.695 355.255C151.578 356.019 149.47 356.855 147.297 357.45C146.665 357.623 145.548 357.919 145.878 356.854C146.139 356.011 147.172 355.388 147.836 354.894C155.159 349.425 163.737 345.879 172.784 344.58C174.52 344.321 173.782 341.684 172.057 341.941V341.941Z" fill="#97B8FF" />
          </g>
        </g>
        <g id="Group_23" style="mix-blend-mode:multiply" opacity="0.25">
          <g id="Vector_54" style="mix-blend-mode:multiply" opacity="0.25">
            <path d="M101.773 404.761C102.045 401.897 102.322 398.848 103.682 396.258C104.238 395.199 105.078 393.804 106.292 393.403C107.586 392.975 108.736 394.284 109.512 395.138C111.338 397.194 112.676 399.638 113.423 402.284C114.171 404.931 114.309 407.713 113.827 410.421C113.509 412.143 116.145 412.881 116.466 411.149C117.47 405.784 116.36 400.239 113.368 395.674C111.947 393.54 109.844 390.77 107.059 390.588C104.218 390.402 102.126 393.106 101.054 395.416C99.8541 398.393 99.1721 401.554 99.0371 404.761C98.871 406.513 101.608 406.502 101.773 404.761V404.761Z" fill="#97B8FF" />
          </g>
        </g>
      </g>
      <path id="Vector_55" d="M167.37 330.894H91.2803V333.894H167.37V330.894Z" fill="#D3F4F4" />
      <g id="Group_24" style="mix-blend-mode:multiply" opacity="0.15">
        <g id="Vector_56" style="mix-blend-mode:multiply" opacity="0.15">
          <path d="M120.04 403.574H138.611C142.387 403.574 146.127 402.831 149.616 401.385C153.106 399.94 156.276 397.822 158.947 395.151C161.617 392.48 163.736 389.31 165.181 385.821C166.626 382.331 167.37 378.592 167.37 374.815V317.259C166.717 315.332 166.059 313.41 165.398 311.493H163.567C160.845 314.011 159.911 318.219 159.034 321.973C151.643 353.605 126.894 380.39 96.3386 391.101C98.9787 394.949 102.517 398.096 106.646 400.269C110.776 402.443 115.373 403.577 120.04 403.574V403.574Z" fill="#97B8FF" />
        </g>
      </g>
      <g id="Vector_65" style="mix-blend-mode:multiply" opacity="0.5">
        <path d="M198.801 277.188L212.857 274.339C213.475 274.213 214.112 274.211 214.73 274.332C215.349 274.452 215.938 274.694 216.464 275.042C216.989 275.391 217.441 275.839 217.793 276.362C218.146 276.885 218.391 277.472 218.517 278.09L228.141 325.568C228.394 326.816 228.141 328.113 227.437 329.175C226.734 330.236 225.637 330.974 224.389 331.227L210.333 334.077C209.085 334.33 207.788 334.077 206.726 333.373C205.665 332.67 204.926 331.573 204.673 330.325L195.049 282.848C194.796 281.6 195.049 280.302 195.753 279.241C196.456 278.179 197.553 277.441 198.801 277.188V277.188Z" stroke="#3847DC" stroke-width="2" stroke-miterlimit="10" />
      </g>
      <g id="Vector_66" style="mix-blend-mode:multiply" opacity="0.5">
        <path d="M550.232 334.077L536.176 331.228C535.558 331.102 534.971 330.857 534.448 330.504C533.925 330.152 533.476 329.7 533.128 329.175C532.78 328.649 532.538 328.06 532.417 327.441C532.297 326.823 532.299 326.186 532.424 325.568L542.049 278.09C542.302 276.842 543.04 275.746 544.101 275.042C545.163 274.339 546.46 274.086 547.708 274.339L561.765 277.188C563.013 277.441 564.109 278.179 564.813 279.241C565.516 280.302 565.77 281.6 565.517 282.848L555.892 330.325C555.639 331.573 554.901 332.67 553.839 333.373C552.778 334.077 551.48 334.33 550.232 334.077V334.077Z" stroke="#3847DC" stroke-width="2" stroke-miterlimit="10" />
      </g>
      <g id="Group_26" style="mix-blend-mode:multiply" opacity="0.65">
        <g id="Vector_67" style="mix-blend-mode:multiply" opacity="0.5">
          <path d="M99.1641 448.713H184.487" stroke="#FFDCD6" stroke-width="2" stroke-miterlimit="10" />
        </g>
        <g id="Vector_68" style="mix-blend-mode:multiply" opacity="0.5">
          <path d="M539.509 438.574H750" stroke="#FFDCD6" stroke-width="2" stroke-miterlimit="10" />
        </g>
        <g id="Vector_69" style="mix-blend-mode:multiply" opacity="0.5">
          <path d="M6.9787 420.609H169.047" stroke="#FFDCD6" stroke-width="2" stroke-miterlimit="10" />
        </g>
        <g id="Vector_70" style="mix-blend-mode:multiply" opacity="0.5">
          <path d="M490.047 457.979H569.853" stroke="#FFDCD6" stroke-width="2" stroke-miterlimit="10" />
        </g>
        <g id="Vector_71" style="mix-blend-mode:multiply" opacity="0.5">
          <path d="M616.094 475.957H707.574" stroke="#FFDCD6" stroke-width="2" stroke-miterlimit="10" />
        </g>
        <g id="Vector_72" style="mix-blend-mode:multiply" opacity="0.5">
          <path d="M17.0956 470.458H125.389" stroke="#FFDCD6" stroke-width="2" stroke-miterlimit="10" />
        </g>
      </g>
      <path id="Vector_73" d="M307.381 475.957C378.535 475.957 436.216 462.566 436.216 446.046C436.216 429.527 378.535 416.135 307.381 416.135C236.228 416.135 178.547 429.527 178.547 446.046C178.547 462.566 236.228 475.957 307.381 475.957Z" fill="#97B8FF" />
      <g id="Group_27" style="mix-blend-mode:multiply" opacity="0.25">
        <g id="Vector_74" style="mix-blend-mode:multiply" opacity="0.25">
          <path d="M423.504 459.017C384.699 452.846 345.544 448.45 306.649 452.933C294.749 454.304 282.903 456.505 270.925 456.623C258.947 456.741 246.582 454.606 236.581 448.013C230.118 443.752 224.947 437.85 219.321 432.533C216.882 430.182 214.265 428.022 211.495 426.071C191.013 431.367 178.547 438.368 178.547 446.046C178.547 462.566 236.228 475.957 307.381 475.957C358.517 475.957 402.695 469.041 423.504 459.017Z" fill="#97B8FF" />
        </g>
      </g>
      <path id="Vector_75" d="M307.381 464.69C363.769 464.69 409.48 455.618 409.48 444.428C409.48 433.238 363.769 424.166 307.381 424.166C250.993 424.166 205.282 433.238 205.282 444.428C205.282 455.618 250.993 464.69 307.381 464.69Z" stroke="white" stroke-width="2" stroke-miterlimit="10" />
      <g id="dogt">
        <path id="dt" d="M256.952 420.413C256.772 413.789 254.191 407.456 249.689 402.594C248.325 401.277 247.029 399.891 245.806 398.441C244.576 396.972 243.922 395.107 243.964 393.191C244.012 392.241 244.37 391.333 244.984 390.607C245.598 389.881 246.434 389.376 247.363 389.171C249.258 388.907 250.973 390.221 252.435 391.456C251.179 389.454 250.285 387.247 249.793 384.936C249.561 383.777 249.633 382.577 250.002 381.454C250.371 380.331 251.025 379.322 251.9 378.527C252.936 377.813 254.165 377.43 255.423 377.431C256.682 377.432 257.91 377.815 258.945 378.531C260.997 380.02 262.418 382.223 262.93 384.706C263.426 387.167 263.613 389.681 263.488 392.189C263.605 389.815 264.366 387.517 265.69 385.543C266.328 384.594 267.314 383.643 268.441 383.835C268.837 383.948 269.204 384.144 269.519 384.409C269.833 384.674 270.088 385.003 270.267 385.373C272.319 388.785 272.01 393.138 270.884 396.957C269.758 400.775 267.894 404.36 266.963 408.231C266.496 410.171 266.268 412.169 265.695 414.081C265.209 416.034 264.097 417.774 262.529 419.036C261.735 419.646 260.773 419.998 259.773 420.044C258.772 420.091 257.782 419.83 256.935 419.296" fill="#1A1A1A" />
        <path id="Vector_94" d="M258.589 382.049C260.089 383.835 261.085 385.99 261.474 388.29C261.862 390.591 261.629 392.953 260.797 395.133C261.132 390.657 260.374 386.167 258.589 382.049V382.049Z" fill="#F2F2F2" />
        <path id="Vector_93" d="M269.561 389.072C269.975 390.571 270.038 392.145 269.744 393.673C269.451 395.2 268.809 396.639 267.868 397.878C268.142 396.345 268.497 394.934 268.763 393.484C269.056 392.04 269.249 390.597 269.561 389.072Z" fill="#F2F2F2" />
      </g>
      <path id="Vector_76" d="M367.505 437.384C361.436 437.59 358.765 437.492 358.765 437.492C358.765 437.492 364.812 443.681 360.578 450.337C350.296 450.934 251.469 452.444 251.469 452.444C251.469 452.444 247.875 438.383 251.284 425.69V425.679C254.172 414.952 262.077 405.202 281.393 405.755C281.408 405.754 281.423 405.758 281.436 405.766C296.995 407.438 319.167 418.296 319.167 418.296C319.167 418.296 321.892 402.281 339.568 401.825C349.72 401.966 358.927 407.786 358.482 421.347C358.471 421.646 358.521 421.944 358.63 422.222C358.738 422.501 358.903 422.754 359.114 422.966C359.325 423.178 359.577 423.344 359.855 423.454C360.133 423.564 360.431 423.616 360.73 423.605C365.225 423.443 370.958 424.029 372.195 431.738C372.301 432.424 372.26 433.124 372.074 433.792C371.889 434.461 371.564 435.083 371.121 435.616C370.677 436.15 370.126 436.583 369.502 436.888C368.879 437.193 368.198 437.362 367.505 437.384V437.384Z" fill="white" />
      <path id="Vector_77" d="M331.222 438.474L341.328 438.074L351.434 437.775L353.96 437.688L355.223 437.637C355.644 437.62 356.046 437.595 356.561 437.608C357.544 437.652 358.506 437.909 359.38 438.361C360.254 438.813 361.02 439.45 361.623 440.228C362.219 441.008 362.634 441.911 362.838 442.872C363.014 443.787 363.033 444.725 362.896 445.647C362.627 447.41 361.85 449.057 360.661 450.386L360.491 450.28C361.148 448.791 361.489 447.181 361.492 445.554C361.532 444.071 361.027 442.626 360.073 441.491C359.128 440.427 357.825 439.747 356.411 439.582C356.085 439.544 355.644 439.529 355.223 439.512L353.96 439.461L351.434 439.375L341.328 439.074L331.222 438.675V438.474Z" fill="#1A1A1A" />
      <path id="Vector_78" d="M350.253 416.86C350.253 417.855 349.858 418.808 349.155 419.511C348.452 420.214 347.498 420.609 346.504 420.609C345.51 420.609 344.556 420.214 343.853 419.511C343.15 418.808 342.755 417.855 342.755 416.86" stroke="#1A1A1A" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" />
      <path id="Vector_79" d="M347.426 420.608L346.426 423.032L345.426 420.608H347.426Z" fill="#1A1A1A" />
      <path id="Vector_80" d="M347.426 420.608L346.426 423.032L345.426 420.608H347.426Z" fill="#1A1A1A" />
      <path id="Vector_81" d="M349.972 418.8L350.751 421.303L348.434 420.077L349.972 418.8Z" fill="#1A1A1A" />
      <path id="Vector_82" d="M344.729 420.338L342.394 421.53L343.209 419.039L344.729 420.338Z" fill="#1A1A1A" />
      <path id="Vector_83" d="M326.959 436.732H329.749C330.915 436.732 332.069 436.493 333.14 436.03C334.21 435.567 335.174 434.89 335.973 434.04C336.771 433.19 337.388 432.186 337.783 431.089C338.179 429.992 338.346 428.825 338.273 427.661L336.68 402.054C321.592 404.066 319.169 418.295 319.169 418.295L319.022 418.224L318.435 427.661C318.363 428.825 318.53 429.992 318.925 431.089C319.321 432.186 319.937 433.19 320.736 434.04C321.534 434.89 322.498 435.567 323.569 436.03C324.639 436.493 325.793 436.732 326.959 436.732Z" fill="#1A1A1A" />
      <path id="Vector_84" d="M373.665 427.77C373.665 428.448 373.464 429.111 373.087 429.675C372.71 430.239 372.175 430.678 371.548 430.938C370.922 431.198 370.232 431.265 369.567 431.133C368.902 431.001 368.291 430.674 367.811 430.195C367.332 429.715 367.005 429.104 366.873 428.439C366.741 427.774 366.809 427.084 367.068 426.458C367.328 425.831 367.767 425.296 368.331 424.919C368.895 424.542 369.558 424.341 370.236 424.341C371.146 424.341 372.018 424.702 372.661 425.345C373.304 425.988 373.665 426.861 373.665 427.77Z" fill="#1A1A1A" />
      <path id="Vector_85" d="M290.085 419.222C291.13 420.846 291.925 422.618 292.446 424.477C292.987 426.356 293.173 428.319 292.995 430.265C292.898 431.248 292.702 432.219 292.409 433.163C292.08 434.098 291.652 434.996 291.135 435.842C290.63 436.696 290.041 437.496 289.377 438.233C288.729 438.98 287.953 439.596 287.242 440.284L286.839 439.083L295.674 438.905C298.618 438.836 301.561 438.728 304.505 438.746L305.608 438.759C306.034 438.76 306.46 438.797 306.879 438.869C307.724 439.009 308.534 439.309 309.266 439.753C309.999 440.191 310.644 440.764 311.166 441.44C311.672 442.117 312.046 442.884 312.268 443.7C312.48 444.502 312.519 445.34 312.384 446.159C312.248 446.977 311.94 447.757 311.481 448.448C311.064 449.102 310.56 449.695 309.981 450.21C309.43 450.723 308.834 451.184 308.2 451.59L308.073 451.435C309.102 450.43 309.948 449.255 310.573 447.961C310.858 447.375 311.022 446.737 311.055 446.087C311.088 445.436 310.989 444.785 310.765 444.173C310.318 442.987 309.448 442.008 308.323 441.424C307.768 441.144 307.172 440.954 306.557 440.862C306.249 440.816 305.938 440.796 305.627 440.802L304.52 440.812C301.569 440.821 298.617 440.705 295.667 440.629L286.818 440.426L285.126 440.387L286.415 439.225C287.095 438.612 287.854 438.065 288.481 437.397C289.123 436.742 289.698 436.024 290.196 435.255C290.706 434.492 291.136 433.68 291.481 432.831C291.8 431.966 292.032 431.073 292.172 430.162C292.443 428.311 292.367 426.426 291.947 424.603C291.537 422.755 290.853 420.979 289.919 419.332L290.085 419.222Z" fill="#1A1A1A" />
      <path id="Vector_86" d="M300.523 445.361C301.428 445.058 302.39 444.96 303.338 445.073C304.332 445.168 305.281 445.534 306.081 446.132C306.48 446.454 306.825 446.837 307.105 447.266C307.357 447.703 307.535 448.178 307.633 448.673C307.733 449.149 307.768 449.636 307.737 450.122C307.681 450.592 307.59 451.056 307.463 451.512C307.36 451.044 307.333 450.59 307.247 450.15C307.162 449.721 307.04 449.3 306.884 448.892C306.618 448.107 306.124 447.42 305.464 446.918C304.786 446.412 304.014 446.044 303.193 445.837C302.317 445.608 301.424 445.449 300.523 445.361V445.361Z" fill="#1A1A1A" />
      <path id="Vector_87" d="M353.176 443.785C354.082 443.482 355.043 443.384 355.991 443.498C356.986 443.592 357.935 443.958 358.735 444.556C359.133 444.878 359.479 445.261 359.759 445.69C360.011 446.127 360.189 446.602 360.287 447.097C360.387 447.573 360.422 448.061 360.391 448.546C360.335 449.016 360.243 449.481 360.116 449.936C360.014 449.468 359.986 449.014 359.9 448.574C359.815 448.145 359.694 447.724 359.538 447.316C359.272 446.531 358.777 445.844 358.118 445.342C357.44 444.836 356.668 444.468 355.847 444.262C354.971 444.032 354.078 443.873 353.176 443.785V443.785Z" fill="#1A1A1A" />
      <path id="Vector_88" d="M256.663 432.19C258.786 432.19 260.508 431.336 260.508 430.282C260.508 429.228 258.786 428.374 256.663 428.374C254.539 428.374 252.818 429.228 252.818 430.282C252.818 431.336 254.539 432.19 256.663 432.19Z" fill="#1A1A1A" />
      <path id="Vector_89" d="M288.195 412.251C288.195 414.33 285.85 416.016 282.957 416.016C280.064 416.016 277.719 414.33 277.719 412.251C277.719 410.171 280.064 408.485 282.957 408.485C285.85 408.485 288.195 410.171 288.195 412.251Z" fill="#1A1A1A" />
      <path id="Vector_90" d="M281.436 405.766C280.546 407.916 277.896 408.958 276.355 410.804C273.466 414.235 274.987 419.621 273.065 423.671C272.34 425.134 271.198 426.35 269.784 427.167C268.371 427.984 266.747 428.366 265.117 428.263C261.621 427.992 258.602 425.484 255.106 425.147C253.808 425.024 252.499 425.206 251.284 425.679C254.172 414.952 262.077 405.202 281.393 405.755C281.408 405.754 281.423 405.758 281.436 405.766Z" fill="#1A1A1A" />
      <g id="Group_28" style="mix-blend-mode:multiply">
        <g id="Vector_91" style="mix-blend-mode:multiply">
          <path d="M361.419 441.829C360.266 442.037 359.118 442.311 357.984 442.577C344.927 445.636 331.386 447.488 318.099 445.668C304.813 443.847 291.721 438.048 283.032 427.832C278.602 422.624 275.374 416.382 270.317 411.781C268.827 410.434 267.156 409.302 265.352 408.419C257.268 411.972 253.187 418.613 251.284 425.679V425.69C247.875 438.383 251.469 452.444 251.469 452.444C251.469 452.444 350.296 450.934 360.578 450.337C361.392 449.091 361.894 447.667 362.041 446.186C362.187 444.705 361.974 443.21 361.419 441.829V441.829Z" fill="#F2F2F2" />
        </g>
      </g>
      <path id="Vector_92" d="M329.332 432.687C330.391 432.305 331.369 431.729 332.216 430.989C333.033 430.273 333.708 429.411 334.206 428.446C335.17 426.429 335.517 424.173 335.205 421.96C335.717 423.049 335.974 424.241 335.955 425.445C335.936 426.648 335.642 427.831 335.095 428.904C334.53 429.99 333.703 430.919 332.689 431.606C331.704 432.295 330.534 432.672 329.332 432.687V432.687Z" fill="#F2F2F2" />


      <g id="Vector_95" style="mix-blend-mode:multiply">
        <path d="M683.557 243.456H599.905V384.339H683.557V243.456Z" fill="#FFDCD6" />
      </g>
      <g id="Vector_96" style="mix-blend-mode:multiply">
        <path d="M686.738 236.328H596.724V245.232H686.738V236.328Z" fill="#FFDCD6" />
      </g>
      <g id="Vector_97" style="mix-blend-mode:multiply">
        <path d="M610.182 408.515H602.391L599.863 384.34H611.867L610.182 408.515Z" fill="#FFDCD6" />
      </g>
      <g id="Vector_98" style="mix-blend-mode:multiply">
        <path d="M681.83 408.515H674.039L671.512 384.34H683.515L681.83 408.515Z" fill="#FFDCD6" />
      </g>
      <path id="Vector_99" d="M675.118 257.074H608.344V280.521H675.118V257.074Z" stroke="white" stroke-miterlimit="10" />
      <path id="Vector_100" d="M670.304 261.324H613.158V276.474H670.304V261.324Z" stroke="white" stroke-miterlimit="10" />
      <path id="Vector_101" d="M639.717 268.899C639.717 268.501 639.835 268.111 640.057 267.78C640.278 267.449 640.592 267.191 640.96 267.039C641.328 266.886 641.733 266.846 642.124 266.924C642.514 267.002 642.873 267.193 643.155 267.475C643.436 267.757 643.628 268.115 643.706 268.506C643.783 268.897 643.744 269.301 643.591 269.669C643.439 270.037 643.181 270.352 642.85 270.573C642.518 270.794 642.129 270.912 641.731 270.912C641.197 270.912 640.685 270.7 640.307 270.323C639.929 269.945 639.717 269.433 639.717 268.899Z" fill="white" />
      <path id="Vector_102" d="M675.118 290.008H608.344V365.042H675.118V290.008Z" stroke="white" stroke-miterlimit="10" />
      <path id="Vector_103" d="M667.368 298.716H616.094V356.333H667.368V298.716Z" stroke="white" stroke-miterlimit="10" />
      <g id="Vector_104" style="mix-blend-mode:multiply">
        <path d="M613.832 189.797H607.092V236.328H613.832V189.797Z" fill="#FFDCD6" />
      </g>
      <g id="Vector_105" style="mix-blend-mode:multiply">
        <path d="M627.171 189.598L620.572 190.969L630.039 236.527L636.638 235.156L627.171 189.598Z" fill="#FFDCD6" />
      </g>
      <g id="Vector_106" style="mix-blend-mode:multiply">
        <path d="M620.572 189.797H613.832V236.328H620.572V189.797Z" fill="#FFDCD6" />
      </g>
      <g id="Vector_107" style="mix-blend-mode:multiply">
        <path d="M620.572 189.797H613.832V236.328H620.572V189.797Z" fill="#FFDCD6" />
      </g>
      <g id="Vector_108" style="mix-blend-mode:multiply">
        <path d="M667.44 232.61H668.07C668.563 232.61 669.036 232.806 669.385 233.155C669.734 233.504 669.93 233.977 669.93 234.47C669.93 234.963 669.734 235.436 669.385 235.785C669.036 236.134 668.563 236.33 668.07 236.33H653.47C652.977 236.33 652.504 236.134 652.155 235.785C651.806 235.436 651.61 234.963 651.61 234.47C651.61 233.977 651.806 233.504 652.155 233.155C652.504 232.806 652.977 232.61 653.47 232.61H654.1C651.615 231.147 649.681 228.907 648.594 226.235C647.508 223.564 647.331 220.61 648.089 217.828C648.847 215.046 650.5 212.59 652.791 210.839C655.083 209.089 657.886 208.141 660.77 208.141C663.654 208.141 666.457 209.089 668.749 210.839C671.04 212.59 672.693 215.046 673.451 217.828C674.209 220.61 674.032 223.564 672.946 226.235C671.859 228.907 669.925 231.147 667.44 232.61Z" fill="#FFDCD6" />
      </g>
      <g id="Vector_109" style="mix-blend-mode:multiply">
        <path d="M667.217 229.253C671.452 225.692 671.999 219.373 668.439 215.137C664.879 210.901 658.559 210.354 654.323 213.914C650.088 217.475 649.54 223.795 653.101 228.03C656.661 232.266 662.981 232.813 667.217 229.253Z" stroke="#FFDCD6" stroke-miterlimit="10" />
      </g>
      <path id="Vector_110" d="M362.756 273.522L367.422 311.627C367.638 313.397 368.478 315.033 369.79 316.24L385.636 330.818C386.081 331.228 386.44 331.721 386.693 332.27C386.946 332.819 387.087 333.412 387.11 334.016C387.132 334.62 387.035 335.223 386.823 335.789C386.612 336.355 386.29 336.874 385.877 337.315C383.561 339.799 379.79 342.429 374.655 341.463C371.88 340.889 369.381 339.392 367.567 337.214C361.005 329.581 356.111 324.008 353.96 321.57C353.165 320.669 352.598 319.591 352.307 318.425L341.082 273.522H362.756Z" fill="#FF8773" />
      <path id="Vector_111" d="M371.092 281.859C371.092 281.859 387.978 305.499 391.958 311.436C392.57 312.354 393.501 313.012 394.571 313.282C399.921 314.628 415.687 317.605 423.513 319.365C424.646 319.622 425.824 319.595 426.943 319.287C428.063 318.979 429.089 318.399 429.93 317.598C430.619 316.939 431.245 316.298 431.809 315.676C432.471 314.952 432.918 314.059 433.101 313.095C433.284 312.132 433.195 311.137 432.845 310.221C432.495 309.305 431.897 308.505 431.118 307.91C430.339 307.314 429.41 306.947 428.434 306.849L406.482 304.654C405.596 304.565 404.745 304.26 404.005 303.765C403.265 303.27 402.658 302.6 402.238 301.815L384.43 268.521L371.092 281.859Z" fill="#FF8773" />
      <path id="Vector_112" d="M259.287 214.76L259.008 215.256L244.332 241.305L261.063 233.454C261.063 233.454 270.691 236.912 265.083 243.549C258.166 247.848 236.013 266.262 226.946 255.046C217.88 243.829 249.566 200.739 254.52 198.496C259.194 198.683 263.213 206.721 259.287 214.76Z" fill="#FF8773" />
      <g id="Vector_113" style="mix-blend-mode:multiply" opacity="0.45">
        <path d="M384.43 268.521L371.092 281.859C371.092 281.859 374.567 286.724 378.734 292.592C383.957 290.022 388.235 285.866 390.954 280.719L384.43 268.521Z" fill="#FF8773" />
      </g>
      <g id="Vector_114" style="mix-blend-mode:multiply" opacity="0.45">
        <path d="M362.756 273.522H341.082L347.873 300.688C353.766 300.869 360.246 299.781 365.467 295.665L362.756 273.522Z" fill="#FF8773" />
      </g>
      <path id="Vector_115" d="M392.54 273.52C386.44 292.91 361.56 294.03 361.56 294.03L346.31 264.46L283.19 317.02V318.19L266.84 285.57C266.84 285.57 351.71 222.93 358.46 221.59C364.3 220.43 375.66 243.25 387.11 263.94C387.51 264.65 387.9 265.37 388.29 266.07C388.3 266.08 388.29 266.08 388.29 266.08C389.72 268.62 391.14 271.12 392.54 273.52Z" fill="#739BE0" />
      <path id="Vector_116" d="M388.29 266.07C388.3 266.08 388.29 266.08 388.29 266.08C381.7 278.99 369.3 285.07 366.13 286.04C365.781 286.156 365.417 286.223 365.05 286.24C364.802 286.246 364.558 286.176 364.35 286.04L365.46 284.38C365.335 284.296 365.19 284.248 365.04 284.24C366.89 284.14 380.74 277.65 387.11 263.94C387.51 264.65 387.9 265.37 388.29 266.07Z" fill="white" />
      <path id="Vector_117" d="M296.758 195.331C296.758 195.331 328.263 213.924 361.844 218.149C369.507 218.917 368.155 228.548 362.746 229.206C362.746 229.206 322.342 230.82 296.927 212.126C295.708 206.6 295.65 200.881 296.758 195.331V195.331Z" fill="#FF8773" />
      <g id="Group_29" style="mix-blend-mode:multiply" opacity="0.45">
        <g id="Vector_118" style="mix-blend-mode:multiply" opacity="0.45">
          <path d="M346.901 224.558C329.283 219.751 312.216 213.114 295.979 204.755C296.04 207.238 296.357 209.708 296.927 212.126C313.374 224.224 336.096 227.816 350.085 228.845C350.394 228.412 350.54 227.884 350.497 227.355C350.343 225.74 348.466 224.985 346.901 224.558Z" fill="#FF8773" />
        </g>
      </g>
      <g id="Group_30" style="mix-blend-mode:multiply" opacity="0.45">
        <g id="Vector_119" style="mix-blend-mode:multiply" opacity="0.45">
          <path d="M295.966 204.201C295.968 204.324 295.97 204.448 295.973 204.573L296.629 203.461C296.394 203.695 296.173 203.942 295.966 204.201V204.201Z" fill="#FF8773" />
        </g>
      </g>
      <path id="Vector_120" d="M367.2 290.82C354.43 303.38 331.65 294.03 331.65 294.03C331.65 294.03 331.77 292.12 332.4 282.07C332.44 281.41 332.49 280.71 332.53 279.97C332.75 276.47 333.02 272.14 333.36 266.77C324.63 286.99 291.43 324.24 266.84 324.67C235.44 324.88 234.18 294.03 234.18 294.03L272.27 272.31C272.27 272.31 314.95 239.74 338.78 222.34C340.701 220.929 342.943 220.019 345.304 219.691C347.665 219.362 350.071 219.627 352.304 220.46C354.537 221.294 356.528 222.67 358.096 224.464C359.665 226.259 360.763 228.416 361.29 230.74C364.14 243.58 365 261.81 366.11 277.75C366.17 278.55 366.23 279.34 366.28 280.13C366.56 283.88 366.85 287.48 367.2 290.82Z" fill="#97B8FF" />
      <path id="Vector_121" d="M366.28 280.13C361.217 283.632 355.175 285.442 349.02 285.3C343.332 285.216 337.705 284.123 332.4 282.07C332.44 281.41 332.49 280.71 332.53 279.97C336.99 281.73 353.92 287.4 366.11 277.75C366.17 278.55 366.23 279.34 366.28 280.13Z" fill="white" />
      <path id="Vector_122" d="M233.551 294.013C233.551 294.013 252.913 247.41 255.463 221.548C255.885 213.351 259.42 209.113 254.52 198.496C259.624 194.69 269.434 193.129 269.434 193.129L279.51 203.986L286.897 191.859C286.897 191.859 289.356 188.933 298.055 195.715C298.055 207.818 298.889 231.314 301.544 250.108C286.744 261.305 273.895 271.071 273.895 271.071C273.895 271.071 259.091 312.317 233.551 294.013Z" fill="#FFF4E2" />
      <path id="Vector_123" d="M384.837 243.655C382.326 242.046 379.996 240.17 377.889 238.06L377.931 238.001C379.492 239.379 381.156 240.635 382.909 241.758C383.245 241.971 383.651 242.043 384.04 241.957C384.428 241.871 384.766 241.634 384.98 241.299C385.194 240.963 385.266 240.557 385.18 240.168C385.094 239.78 384.858 239.442 384.522 239.227C382.137 237.707 379.931 235.923 377.945 233.909C377.855 233.831 377.756 233.764 377.649 233.71L365.867 219.988L360.453 227.616C360.453 227.616 360.526 227.821 360.659 228.173C360.638 228.224 360.62 228.277 360.606 228.33C359.96 231.439 359.701 234.615 359.835 237.787C359.835 238.185 359.993 238.567 360.275 238.848C360.556 239.129 360.937 239.287 361.335 239.287C361.733 239.287 362.115 239.129 362.396 238.848C362.677 238.567 362.835 238.185 362.835 237.787C362.77 236.348 362.791 234.907 362.897 233.47C363.636 235.062 364.523 236.83 365.528 238.583C367.59 242.982 370.451 246.96 373.967 250.314C374.256 250.586 374.64 250.732 375.037 250.721C375.433 250.71 375.809 250.542 376.082 250.255C376.355 249.967 376.503 249.583 376.494 249.187C376.485 248.79 376.319 248.414 376.033 248.139C374.143 246.333 372.454 244.327 370.998 242.156C371.502 242.15 372.004 242.091 372.496 241.979C374.76 245.172 377.483 248.013 380.576 250.412C380.732 250.532 380.91 250.621 381.1 250.673C381.29 250.725 381.488 250.739 381.683 250.714C381.879 250.69 382.067 250.627 382.238 250.529C382.409 250.431 382.559 250.301 382.68 250.145C382.801 249.99 382.89 249.812 382.942 249.622C382.994 249.432 383.008 249.234 382.983 249.038C382.958 248.843 382.895 248.654 382.798 248.483C382.7 248.312 382.57 248.162 382.414 248.041C379.71 245.934 377.308 243.466 375.276 240.705C375.475 240.564 375.669 240.418 375.853 240.265C378.092 242.495 380.563 244.48 383.224 246.185C383.559 246.399 383.966 246.47 384.354 246.385C384.546 246.342 384.729 246.262 384.89 246.149C385.051 246.036 385.189 245.893 385.295 245.727C385.401 245.561 385.473 245.375 385.507 245.181C385.542 244.987 385.537 244.788 385.495 244.596C385.452 244.404 385.372 244.222 385.259 244.06C385.147 243.899 385.003 243.761 384.837 243.655V243.655Z" fill="#FF8773" />
      <g id="Group_31" style="mix-blend-mode:multiply" opacity="0.25">
        <g id="Vector_124" style="mix-blend-mode:multiply" opacity="0.25">
          <path d="M341.67 296.727C341.839 294.08 341.802 291.399 341.757 288.757C341.59 278.858 341.422 268.96 341.255 259.062C341.232 257.734 340.964 256.068 339.684 255.714C338.657 255.429 337.673 256.223 336.901 256.958C325.628 267.69 314.354 278.422 303.082 289.154C296.237 295.671 289.336 302.231 281.366 307.309C273.395 312.387 264.19 315.946 254.74 315.819C249.831 315.755 244.999 314.59 240.599 312.411C245.23 318.975 253.182 324.758 266.838 324.666C291.429 324.24 324.631 286.993 333.357 266.774C331.868 290.399 331.655 294.03 331.655 294.03C334.894 295.262 338.249 296.166 341.67 296.727V296.727Z" fill="#97B8FF" />
        </g>
      </g>
      <g id="facemain">
        <g id="f2">
          <path id="Vector_125" d="M248.648 210.372C248.648 210.372 232.985 191.671 246.244 178.78C255.672 170.145 258.439 163.334 254.182 151.841C249.925 140.348 259.99 124.174 268.438 125.022C269.932 117.734 304.624 111.828 311.435 143.966C313.564 153.97 303.56 166.314 312.287 173.764C314.768 175.845 316.577 178.615 317.487 181.724C318.396 184.832 318.364 188.141 317.395 191.231C317.395 191.231 338.221 191.855 331.001 214.841C328.037 221.226 317.608 228.454 303.773 226.649C289.939 224.845 248.648 210.372 248.648 210.372Z" fill="#1A1A1A" />
          <path id="Vector_126" d="M269.391 171.821C270.224 172.655 269.391 194.329 269.391 194.329L277.727 206.833L284.396 206L286.897 193.495L281.895 173.489L269.391 171.821Z" fill="#FF8773" />
          <g id="Vector_127" style="mix-blend-mode:multiply">
            <path d="M281.895 173.489L269.391 171.821C269.663 172.093 269.757 174.584 269.761 177.813C272.579 182.125 277.392 186.329 285.566 188.174L281.895 173.489Z" fill="#FF8773" />
          </g>
          <path id="Vector_128" d="M263.555 160.984C263.555 160.984 263.555 180.991 286.063 184.326C298.567 180.158 306.07 167.653 306.07 151.815C306.07 137.643 295.233 128.473 272.725 134.309C261.055 146.813 263.555 160.984 263.555 160.984Z" fill="#FF8773" />
        </g>
        <path id="Vector_129" d="M281.332 154.782C281.333 155.405 281.211 156.022 280.973 156.598C280.736 157.174 280.387 157.697 279.946 158.138C279.506 158.579 278.983 158.929 278.408 159.167C277.832 159.406 277.216 159.529 276.593 159.529C275.97 159.529 275.353 159.406 274.777 159.167C274.202 158.929 273.679 158.579 273.239 158.138C272.799 157.697 272.45 157.174 272.212 156.598C271.974 156.022 271.852 155.405 271.853 154.782" stroke="#1A1A1A" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" />
        <path id="Vector_130" d="M277.494 159.52L276.494 162.584L275.494 159.52H277.494Z" fill="#1A1A1A" />
        <path id="Vector_131" d="M277.494 159.52L276.494 162.584L275.494 159.52H277.494Z" fill="#1A1A1A" />
        <path id="Vector_132" d="M280.774 157.403L281.961 160.399L279.235 158.68L280.774 157.403Z" fill="#1A1A1A" />
        <path id="Vector_133" d="M274.148 159.008L271.397 160.686L272.628 157.708L274.148 159.008Z" fill="#1A1A1A" />
        <path id="Vector_134" d="M301.466 154.782C301.466 156.039 300.966 157.245 300.077 158.134C299.189 159.022 297.983 159.522 296.726 159.522C295.469 159.522 294.263 159.022 293.375 158.134C292.486 157.245 291.986 156.039 291.986 154.782" stroke="#1A1A1A" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" />
        <path id="Vector_135" d="M297.628 159.52L296.628 162.584L295.628 159.52H297.628Z" fill="#1A1A1A" />
        <path id="Vector_136" d="M297.628 159.52L296.628 162.584L295.628 159.52H297.628Z" fill="#1A1A1A" />
        <path id="Vector_137" d="M300.907 157.403L302.095 160.399L299.368 158.68L300.907 157.403Z" fill="#1A1A1A" />
        <path id="Vector_138" d="M294.281 159.008L291.53 160.686L292.761 157.708L294.281 159.008Z" fill="#1A1A1A" />
        <path id="Vector_139" d="M279.439 168.868C279.439 168.868 285.327 176.601 293.521 171.493" stroke="#1A1A1A" stroke-miterlimit="10" stroke-linecap="round" />
        <path id="Vector_140" d="M272.955 147.088C272.955 147.088 277.708 142.831 282.675 147.088" stroke="#1A1A1A" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" />
        <path id="Vector_141" d="M291.397 147.088C291.397 147.088 296.15 142.831 301.116 147.088" stroke="#1A1A1A" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" />
        <path id="Vector_142" d="M264.468 158.425C267.443 155.4 269.736 151.773 271.195 147.789C272.653 143.805 273.244 139.555 272.926 135.324C279.619 134.046 288.016 132.282 292.701 143.356C297.386 154.43 301.246 157.533 306.07 157.29C308.156 150.171 306.756 138.306 306.756 138.306C306.756 138.306 302.314 133.377 299.698 131.978C297.082 130.578 293.187 127.779 292.031 127.901C290.875 128.023 272.561 131.917 272.561 131.917L267.51 135.811C267.51 135.811 263.555 142.054 262.521 143.161C261.229 144.913 260.05 146.746 258.992 148.65L261.122 157.35L264.468 158.425Z" fill="#1A1A1A" />
        <path id="Vector_143" d="M267.6 160.393C268.324 163.297 267.099 166.102 264.866 166.659C262.632 167.216 260.235 165.313 259.511 162.409C258.787 159.505 260.012 156.7 262.245 156.143C264.479 155.587 266.876 157.49 267.6 160.393Z" fill="#FF8773" />
        <g id="Group_32" style="mix-blend-mode:multiply" opacity="0.2">
          <g id="Vector_144" style="mix-blend-mode:multiply" opacity="0.2">
            <path d="M250.324 253.235C250.148 252.025 249.543 250.917 248.621 250.114C245.505 247.569 240.866 250.344 236.879 249.81C235.476 249.551 234.158 248.954 233.037 248.071C231.917 247.189 231.029 246.046 230.448 244.743C229.315 242.119 228.88 239.246 229.187 236.403C229.218 235.97 229.265 235.538 229.314 235.107C225.533 243.552 223.827 251.186 226.947 255.046C232.189 261.532 241.806 258.107 250.324 253.235Z" fill="#FF8773" />
          </g>
        </g>
        <path id="Vector_145" d="M286.948 156.5C286.78 158.052 286.613 159.603 286.445 161.154C286.387 161.688 286.188 162.393 286.544 162.864C286.712 163.05 286.941 163.168 287.19 163.196C287.439 163.224 287.689 163.161 287.894 163.017C288.443 162.709 288.8 162.329 289.47 162.588C289.739 162.69 289.969 162.875 290.127 163.115C290.286 163.355 290.365 163.638 290.354 163.926C290.331 165.359 288.88 166.004 287.629 165.912C287.148 165.876 287.15 166.627 287.629 166.662C288.25 166.739 288.88 166.635 289.443 166.361C290.006 166.087 290.477 165.655 290.799 165.119C291.092 164.614 291.181 164.016 291.049 163.448C290.917 162.879 290.573 162.382 290.087 162.058C289.626 161.773 289.072 161.679 288.543 161.797C288.243 161.894 287.962 162.044 287.715 162.24C287.605 162.314 287.386 162.514 287.248 162.454C287.014 162.354 287.103 162.011 287.121 161.833C287.303 160.054 287.506 158.278 287.698 156.5C287.75 156.021 287 156.025 286.948 156.5V156.5Z" fill="#1A1A1A" />
        <path id="Vector_146" d="M261.419 160.332C261.416 159.885 261.572 159.452 261.861 159.112C262.15 158.771 262.551 158.546 262.992 158.477C263.433 158.407 263.885 158.499 264.264 158.734C264.643 158.969 264.925 159.333 265.059 159.759C265.208 160.216 265.932 160.021 265.782 159.56C265.599 158.96 265.207 158.446 264.676 158.111C264.146 157.777 263.512 157.645 262.892 157.738C262.272 157.832 261.707 158.145 261.298 158.621C260.89 159.098 260.667 159.705 260.669 160.332C260.673 160.429 260.713 160.521 260.783 160.589C260.853 160.656 260.947 160.694 261.044 160.694C261.141 160.694 261.235 160.656 261.305 160.589C261.375 160.521 261.416 160.429 261.419 160.332V160.332Z" fill="#1A1A1A" />
        <path id="Vector_147" d="M262.921 157.853C262.165 158.663 261.737 159.723 261.718 160.83C261.699 161.937 262.091 163.012 262.819 163.846C263.135 164.212 263.664 163.679 263.349 163.316C262.757 162.625 262.441 161.74 262.46 160.83C262.478 159.921 262.832 159.05 263.451 158.384C263.781 158.031 263.251 157.5 262.921 157.853Z" fill="#1A1A1A" />
        <path id="Vector_148" d="M247.003 199.087C245.056 196.698 244.134 193.635 244.439 190.568C244.743 187.5 246.25 184.678 248.628 182.718C246.83 185.01 245.721 187.767 245.433 190.666C245.146 193.566 245.69 196.487 247.003 199.087V199.087Z" fill="#F2F2F2" />
        <path id="Vector_149" d="M284.439 129.471C285.666 129.191 286.94 129.19 288.167 129.469C289.394 129.747 290.543 130.298 291.529 131.08C292.514 131.863 293.311 132.856 293.861 133.988C294.411 135.12 294.699 136.361 294.704 137.619C294.084 135.345 292.753 133.329 290.907 131.863C289.061 130.398 286.795 129.56 284.439 129.471V129.471Z" fill="#F2F2F2" />
        <path id="Vector_150" d="M322.284 194.439C324.181 194.992 325.812 196.215 326.875 197.88C327.939 199.545 328.361 201.54 328.065 203.493C327.352 199.852 325.287 196.617 322.284 194.439Z" fill="#F2F2F2" />
      </g>
      <g id="book">
        <path id="Vector_151" d="M257.843 245.497V212.26C257.828 211.947 257.884 211.634 258.006 211.344C258.128 211.055 258.314 210.797 258.549 210.589C258.785 210.381 259.064 210.229 259.366 210.143C259.668 210.058 259.986 210.041 260.295 210.095L283.654 215.177C284.152 215.284 284.672 215.19 285.099 214.914L303.123 203.431C303.445 203.242 303.812 203.143 304.185 203.147C304.558 203.15 304.923 203.256 305.241 203.452C305.558 203.647 305.817 203.926 305.988 204.258C306.159 204.589 306.236 204.961 306.211 205.334V236.537C306.216 236.919 306.124 237.296 305.942 237.633C305.761 237.969 305.496 238.253 305.174 238.459L287.287 249.408C286.942 249.621 286.538 249.72 286.134 249.69L259.748 247.701C259.211 247.64 258.717 247.38 258.364 246.971C258.012 246.563 257.825 246.037 257.843 245.497Z" fill="white" />
        <path id="Vector_152" d="M255.96 247.164V213.927C255.96 213.6 256.032 213.277 256.173 212.982C256.313 212.686 256.517 212.425 256.77 212.218C257.023 212.011 257.319 211.862 257.636 211.783C257.954 211.705 258.285 211.697 258.606 211.762L283.812 216.844C284.347 216.952 284.902 216.858 285.372 216.581L304.821 205.098C305.157 204.9 305.539 204.794 305.928 204.792C306.318 204.789 306.701 204.889 307.04 205.082C307.378 205.275 307.659 205.555 307.855 205.892C308.051 206.228 308.154 206.611 308.154 207.001V238.205C308.154 238.595 308.05 238.979 307.854 239.316C307.657 239.654 307.374 239.933 307.035 240.126L287.732 251.075C287.354 251.289 286.922 251.388 286.488 251.357L258.015 249.368C257.457 249.329 256.935 249.08 256.553 248.671C256.172 248.262 255.96 247.724 255.96 247.164V247.164Z" fill="#3847DC" />
        <g id="Group_33" style="mix-blend-mode:multiply" opacity="0.35">
          <g id="Vector_153" style="mix-blend-mode:multiply" opacity="0.35">
            <path d="M305.306 228.168C302.632 226.886 299.574 228.687 297.126 230.361C294.216 232.522 291.007 234.247 287.6 235.482C284.154 236.712 280.369 236.583 277.014 235.122C273.497 233.401 271.19 229.95 269.255 226.546C267.321 223.141 265.507 219.525 262.485 217.035C260.644 215.509 258.349 214.638 255.96 214.558V247.164C255.96 247.724 256.172 248.262 256.553 248.671C256.935 249.08 257.457 249.329 258.015 249.368L286.488 251.357C286.922 251.388 287.354 251.289 287.732 251.075L307.035 240.126C307.374 239.933 307.657 239.654 307.854 239.316C308.05 238.979 308.154 238.595 308.154 238.205V231.916C307.962 231.129 307.61 230.39 307.12 229.745C306.63 229.101 306.013 228.563 305.306 228.168V228.168Z" fill="#3847DC" />
          </g>
        </g>
        <path id="Vector_154" d="M279.94 228.476C279.844 228.303 279.716 228.152 279.562 228.029C279.407 227.907 279.23 227.816 279.041 227.761C278.852 227.707 278.653 227.691 278.458 227.713C278.262 227.736 278.073 227.796 277.9 227.892C274.246 229.92 268.955 232.832 265.756 234.548C265.599 234.431 265.442 234.319 265.285 234.214L276.16 226.906C276.323 226.796 276.464 226.655 276.573 226.491C276.682 226.327 276.757 226.143 276.795 225.949C276.833 225.756 276.832 225.557 276.793 225.364C276.754 225.171 276.678 224.987 276.568 224.824C276.458 224.66 276.317 224.52 276.153 224.411C275.989 224.302 275.805 224.226 275.611 224.188C275.418 224.15 275.219 224.151 275.026 224.19C274.833 224.229 274.649 224.306 274.486 224.415L262.337 232.581C263.182 231.121 263.851 229.566 264.33 227.949C264.422 227.562 264.358 227.154 264.15 226.815C263.942 226.476 263.608 226.233 263.221 226.14C262.834 226.047 262.427 226.112 262.087 226.32C261.748 226.528 261.505 226.862 261.413 227.248C260.887 229.44 258.335 233.577 257.396 234.986C257.322 235.1 257.264 235.223 257.224 235.353C249.76 238.809 237.145 244.614 236.916 244.481L245.93 255.547C245.93 255.547 260.679 248.119 265.992 243.715C268.427 242.896 273.651 241.165 277.377 239.935C277.752 239.808 278.062 239.538 278.239 239.184C278.416 238.83 278.446 238.42 278.321 238.044C278.197 237.667 277.929 237.356 277.576 237.176C277.223 236.997 276.813 236.965 276.436 237.086C274.863 237.606 271.356 238.765 268.389 239.751C268.391 239.734 268.391 239.717 268.393 239.7C270.339 238.843 273.395 237.496 278.217 235.367C278.581 235.206 278.866 234.908 279.01 234.537C279.153 234.166 279.144 233.753 278.983 233.389C278.822 233.025 278.524 232.74 278.153 232.596C277.782 232.453 277.369 232.462 277.005 232.623C274.732 233.626 271.941 234.858 269.515 235.927C273.333 233.854 277.978 231.28 279.356 230.515C279.704 230.322 279.961 229.999 280.071 229.616C280.18 229.234 280.133 228.823 279.94 228.476V228.476Z" fill="#FF8773" />
      </g>
      <g id="oldhand">
        <path id="Vector_155" d="M373.903 200.22C373.903 200.22 369.457 200.315 368.417 197.193C371.16 196.058 393.011 191.802 405.403 191.991L417.133 192.18L416.754 202.207L401.619 200.883C396.874 202.091 392.635 204.774 389.511 208.545C388.981 209.133 388.318 209.585 387.578 209.865C386.837 210.145 386.041 210.243 385.254 210.153C385.254 210.153 387.43 202.72 389.511 201.092C384.295 201.129 379.082 200.838 373.903 200.22Z" fill="#FFBDAF" />
      </g>
      <g id="oldface12">
        <g id="o1">
          <path id="Vector_156" d="M530.27 151.195L529.093 169.927L517.815 178.165L507.615 167.966L512.028 153.353L530.27 151.195Z" fill="#FFBDAF" />
          <g id="Vector_157" style="mix-blend-mode:multiply">
            <path d="M509.951 160.233C511.078 161.03 512.249 161.763 513.458 162.428C513.868 162.655 514.329 162.771 514.797 162.766C520.098 162.685 525.282 161.192 529.815 158.44L530.27 151.195L512.029 153.353L509.951 160.233Z" fill="#FFBDAF" />
          </g>
          <path id="Vector_158" d="M503.594 110.103C503.594 110.103 485.524 143.73 513.457 159.094C513.867 159.32 514.329 159.437 514.797 159.432C524.779 159.284 537.08 153.968 543.019 138.642C546.648 127.756 542.137 114.124 538.41 111.869C534.683 109.613 516.932 99.8056 503.594 110.103Z" fill="#FFBDAF" />
        </g>
        <g id="o2">
          <path id="Vector_159" d="M497.845 130.214C497.845 130.214 491.477 94.0449 504.278 86.0727C507.31 83.9393 511.689 85.8481 514.159 94.2695C516.405 95.5046 517.743 86.8587 521.902 87.5324C526.061 88.2061 525.5 95.1678 526.398 96.2906C527.296 97.4134 548.466 98.5776 549.245 111.715C550.023 124.852 542.888 137.225 542.888 137.225L541.541 136.277C541.541 136.277 543.338 123.364 538.509 117.638C535.253 114.269 526.607 119.578 519.982 114.453C513.358 109.328 505.036 103.385 501.455 117.413C499.097 127.406 497.845 130.214 497.845 130.214Z" fill="#FFFFFE" />
          <path id="Vector_160" d="M548.959 137.849C548.012 141.033 545.407 143.067 543.14 142.393C540.873 141.719 539.803 138.591 540.75 135.407C541.697 132.223 544.302 130.189 546.569 130.863C548.836 131.538 549.906 134.665 548.959 137.849Z" fill="#FFBDAF" />
        </g>
        <path id="Vector_161" d="M503.259 119.328C503.259 119.328 507.83 115.234 512.606 119.328" stroke="#1A1A1A" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" />
        <path id="Vector_162" d="M526.628 119.987C526.628 119.987 531.342 116.059 535.969 120.319" stroke="#1A1A1A" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" />
        <path id="Vector_163" d="M506.618 135.089C507.526 135.089 508.262 133.862 508.262 132.348C508.262 130.834 507.526 129.607 506.618 129.607C505.711 129.607 504.975 130.834 504.975 132.348C504.975 133.862 505.711 135.089 506.618 135.089Z" fill="#1A1A1A" />
        <path id="Vector_164" d="M532.109 132.348C532.109 133.862 531.373 135.089 530.465 135.089C529.557 135.089 528.821 133.862 528.821 132.348C528.821 130.834 529.557 129.607 530.465 129.607C531.373 129.607 532.109 130.834 532.109 132.348Z" fill="#1A1A1A" />
        <path id="Vector_165" d="M511.49 146.069C511.49 146.069 517.869 150.322 522.38 144.781" stroke="#1A1A1A" stroke-miterlimit="10" stroke-linecap="round" />
        <path id="Vector_166" d="M516.239 132.66C517.099 127.347 513.488 122.343 508.175 121.483C502.861 120.624 497.857 124.234 496.998 129.548C496.138 134.861 499.749 139.865 505.062 140.725C510.376 141.584 515.38 137.974 516.239 132.66Z" stroke="#1A1A1A" stroke-width="2" stroke-miterlimit="10" />
        <path id="Vector_167" d="M537.93 139.35C541.736 135.544 541.736 129.373 537.93 125.567C534.124 121.761 527.954 121.761 524.148 125.567C520.342 129.373 520.342 135.544 524.148 139.35C527.954 143.156 534.124 143.156 537.93 139.35Z" stroke="#1A1A1A" stroke-width="2" stroke-miterlimit="10" />
        <path id="Vector_168" d="M516.364 131.104L521.381 131.145" stroke="#1A1A1A" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" />
        <path id="Vector_169" d="M517.158 134.407C517.202 135.857 517.08 137.308 516.793 138.73C516.74 138.981 516.701 139.285 516.429 139.383C516.139 139.42 515.846 139.422 515.555 139.389C515.33 139.407 515.113 139.481 514.923 139.603C514.734 139.726 514.578 139.895 514.469 140.093C514.359 140.302 514.292 140.532 514.273 140.768C514.255 141.005 514.284 141.242 514.361 141.466C514.437 141.691 514.558 141.897 514.717 142.073C514.876 142.249 515.068 142.391 515.284 142.49C515.841 142.696 516.437 142.776 517.029 142.725C517.621 142.674 518.194 142.493 518.708 142.194C519.147 142.011 518.954 141.285 518.508 141.471C517.579 141.859 516.341 142.391 515.42 141.693C515.242 141.571 515.111 141.391 515.048 141.185C514.986 140.978 514.995 140.756 515.075 140.556C515.283 140.055 515.725 140.15 516.175 140.152C517.345 140.157 517.501 139.116 517.652 138.175C517.85 136.929 517.936 135.668 517.908 134.407C517.905 134.309 517.864 134.217 517.794 134.15C517.724 134.082 517.63 134.045 517.533 134.045C517.436 134.045 517.342 134.082 517.272 134.15C517.202 134.217 517.161 134.309 517.158 134.407V134.407Z" fill="#1A1A1A" />
        <path id="Vector_170" d="M543.636 136.262C543.621 135.792 543.706 135.325 543.887 134.891C544.067 134.457 544.339 134.066 544.682 133.746C545.026 133.425 545.435 133.182 545.88 133.032C546.326 132.883 546.798 132.83 547.266 132.878C547.365 132.877 547.46 132.837 547.53 132.767C547.6 132.697 547.64 132.602 547.641 132.503C547.639 132.404 547.599 132.31 547.529 132.24C547.459 132.17 547.365 132.13 547.266 132.128C546.699 132.08 546.129 132.152 545.593 132.34C545.056 132.527 544.565 132.826 544.151 133.216C543.738 133.606 543.412 134.079 543.194 134.604C542.975 135.129 542.871 135.694 542.886 136.262C542.889 136.359 542.93 136.451 543 136.519C543.07 136.586 543.163 136.624 543.261 136.624C543.358 136.624 543.451 136.586 543.521 136.519C543.591 136.451 543.632 136.359 543.636 136.262Z" fill="#1A1A1A" />
        <path id="Vector_171" d="M545.267 133.098C545.871 133.937 546.198 134.943 546.201 135.977C546.204 137.01 545.883 138.019 545.284 138.86C545.005 139.256 545.655 139.631 545.931 139.239C546.599 138.282 546.956 137.143 546.953 135.977C546.95 134.81 546.587 133.673 545.915 132.72C545.637 132.33 544.986 132.704 545.267 133.098Z" fill="#1A1A1A" />
        <path id="Vector_172" d="M522.325 99.7615C522.064 102.192 521.927 104.635 521.916 107.08C521.964 108.27 522.164 109.448 522.513 110.586C522.872 111.746 523.428 112.836 524.158 113.807C523.107 113.068 522.285 112.048 521.784 110.865C521.266 109.684 520.972 108.416 520.918 107.128C520.88 104.602 521.359 102.095 522.325 99.7615V99.7615Z" fill="#1A1A1A" />
        <path id="Vector_173" d="M528.115 113.841C527.413 113.47 526.79 112.963 526.284 112.35C525.778 111.737 525.397 111.031 525.165 110.271C524.932 109.51 524.852 108.712 524.928 107.921C525.005 107.13 525.237 106.361 525.611 105.66C525.428 108.6 526.317 111.507 528.115 113.841V113.841Z" fill="#1A1A1A" />
      </g>
      <path id="Vector_174" d="M492.986 283.25C492.986 283.25 485.668 366.597 485.588 377.656C484.62 387.824 482.421 400.312 481.231 406.676C480.952 408.134 481.066 409.641 481.563 411.04C482.06 412.44 482.922 413.681 484.059 414.637C487.881 417.792 494.213 420.664 500.515 413.153C501.237 412.281 501.776 411.273 502.101 410.188C502.425 409.103 502.528 407.965 502.403 406.839C500.511 389.394 499.599 377.386 499.599 377.386L521.119 283.25C521.119 283.25 506.356 267.335 492.986 283.25Z" fill="#FFBDAF" />
      <path id="Vector_175" d="M472.199 305.449L441.781 391.746C441.02 393.903 439.525 395.723 437.556 396.887L412.28 411.825C411.33 412.384 410.247 412.676 409.145 412.67C408.043 412.665 406.963 412.361 406.02 411.792C403.167 410.081 399.889 406.573 401.607 402.06C402.072 400.905 402.783 399.865 403.691 399.013C404.599 398.161 405.682 397.517 406.865 397.127C414.846 394.366 420.26 392.328 423.549 390.473C424.778 389.778 425.84 388.822 426.662 387.673C427.483 386.524 428.043 385.209 428.303 383.821L444.685 297.156L472.199 305.449Z" fill="#FFBDAF" />
      <path id="Vector_176" d="M459.4 279.253H510.995C514.122 279.253 517.12 280.495 519.33 282.705C521.541 284.916 522.783 287.914 522.783 291.04V293.795C522.783 296.921 521.541 299.92 519.33 302.13C517.12 304.341 514.122 305.583 510.995 305.583H459.401C456.274 305.583 453.276 304.341 451.066 302.13C448.855 299.92 447.613 296.921 447.613 293.795V291.04C447.613 287.914 448.855 284.916 451.066 282.705C453.276 280.495 456.274 279.253 459.4 279.253V279.253Z" fill="black" />
      <g id="Vector_177" style="mix-blend-mode:multiply" opacity="0.45">
        <path d="M417.133 192.18L405.403 191.991C405.236 191.988 405.062 191.99 404.892 191.989C404.494 195.064 404.647 198.186 405.342 201.208L416.754 202.207L417.133 192.18Z" fill="#FFBDAF" />
      </g>
      <path id="Vector_178" d="M445.013 272.154C448.992 264.754 462.913 226.102 469.519 204.543C444.754 204.747 408.814 204.534 408.814 204.534C408.814 204.534 405.104 195.323 408.814 186.932C420.711 187.546 452.298 192.049 473.448 172.195C488.048 160.12 508.607 164.68 508.607 164.68C508.607 164.68 514.655 177.771 529.187 168.434C538.806 168.511 545.97 171.991 550.677 180.587C555.385 189.183 545.263 208.415 545.263 208.415L530.27 274.135C530.27 274.135 503.259 297.014 446.936 276.176C445.655 275.703 444.366 273.357 445.013 272.154Z" fill="#97B8FF" />
      <g id="Vector_179" style="mix-blend-mode:multiply">
        <path d="M444.685 297.156L437.668 334.279C444.371 338.402 452.169 340.389 460.028 339.977L472.198 305.449L444.685 297.156Z" fill="#FFBDAF" />
      </g>
      <g id="Vector_180" style="mix-blend-mode:multiply">
        <path d="M492.986 283.25C492.986 283.25 490.799 308.155 488.803 332.543C495.093 335.617 502.146 336.775 509.088 335.874L521.119 283.25C521.119 283.25 506.356 267.335 492.986 283.25Z" fill="#FFBDAF" />
      </g>
      <path id="Vector_181" d="M482.4 284.4C480.42 292.88 476.05 311.37 472.72 324.17C472.44 325.26 472.16 326.31 471.89 327.31C471.01 330.6 470.24 333.34 469.64 335.18C443.47 341.89 429.44 324.05 429.44 324.05C429.44 324.05 430.38 320.56 432.09 315.05C432.41 314 432.77 312.87 433.14 311.68C436.732 300.269 440.975 289.074 445.85 278.15C447.483 274.568 450.44 271.759 454.1 270.31C465.3 265.86 475.31 271.23 479.78 275.52C480.949 276.646 481.805 278.057 482.264 279.613C482.724 281.17 482.77 282.82 482.4 284.4V284.4Z" fill="#1A1A1A" />
      <path id="Vector_182" d="M527.1 278.66C526.67 287.54 525.89 302.63 524.93 314.61C524.84 315.88 524.73 317.12 524.63 318.3C524.36 321.35 524.08 324.1 523.8 326.36C501.74 342.28 480.39 324.04 480.39 324.04C480.39 324.04 480.84 321.13 481.66 316.41C481.82 315.43 482.01 314.37 482.2 313.25C484.1 302.51 487.33 285.6 491.14 271.22C491.562 269.589 492.331 268.069 493.394 266.763C494.457 265.456 495.789 264.394 497.3 263.65C505.11 259.86 514.43 262.33 519.84 265.42C522.154 266.742 524.058 268.678 525.339 271.015C526.62 273.352 527.23 275.998 527.1 278.66V278.66Z" fill="#1A1A1A" />
      <path id="Vector_183" d="M472.72 324.17C472.44 325.26 472.16 326.31 471.89 327.31C469.311 327.653 466.712 327.827 464.11 327.83C446.26 327.83 436.09 319.34 432.09 315.05C432.41 314 432.77 312.87 433.14 311.68C435.78 314.98 447.86 327.85 472.72 324.17Z" fill="white" />
      <path id="Vector_184" d="M524.93 314.61C524.84 315.88 524.73 317.12 524.63 318.3C518.87 321.597 512.346 323.324 505.71 323.31C494.73 323.31 485.64 318.77 481.66 316.41C481.82 315.43 482.01 314.37 482.2 313.25C486.59 316.13 505.57 327 524.93 314.61Z" fill="white" />
      <g id="Group_34" style="mix-blend-mode:multiply" opacity="0.25">
        <g id="Vector_185" style="mix-blend-mode:multiply" opacity="0.25">
          <path d="M534.405 198.098C534.621 198.059 534.838 198.042 535.054 198.009C535.852 195.183 536.54 192.326 537.094 189.441L534.405 198.098Z" fill="#97B8FF" />
        </g>
      </g>
      <g id="Group_35" style="mix-blend-mode:multiply" opacity="0.25">
        <g id="Vector_186" style="mix-blend-mode:multiply" opacity="0.25">
          <path d="M535.054 198.009C529.517 217.789 518.311 235.516 502.819 249.004C487.327 262.492 468.227 271.152 447.872 273.914C447.689 274.727 447.567 275.552 447.506 276.382C503.439 296.853 530.27 274.135 530.27 274.135L545.263 208.415C546.665 205.657 547.903 202.818 548.97 199.914C544.597 198.005 539.78 197.345 535.054 198.009V198.009Z" fill="#97B8FF" />
        </g>
      </g>
      <path id="Vector_187" d="M475.024 194.271C475.024 194.271 504.87 200.832 536.104 199.583" stroke="white" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" />
      <path id="Vector_188" d="M475.024 200.724C475.024 200.724 504.87 207.285 536.104 206.035" stroke="white" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" />
      <path id="Vector_189" d="M473.183 198.864L507.836 199.736C508.441 199.752 509.037 199.886 509.591 200.131C510.144 200.377 510.644 200.729 511.061 201.168C511.478 201.607 511.805 202.124 512.022 202.689C512.24 203.254 512.344 203.856 512.329 204.461L511.197 249.396C511.166 250.619 510.651 251.779 509.765 252.621C508.879 253.464 507.695 253.92 506.472 253.889L471.819 253.016C470.597 252.986 469.437 252.471 468.595 251.585C467.752 250.699 467.296 249.514 467.327 248.292L468.458 203.356C468.489 202.134 469.004 200.974 469.89 200.132C470.776 199.289 471.961 198.833 473.183 198.864V198.864Z" fill="#1A1A1A" />
      <g id="Group_36" style="mix-blend-mode:multiply" opacity="0.35">
        <g id="Vector_190" style="mix-blend-mode:multiply" opacity="0.35">
          <path d="M511.329 244.172C510.989 243.62 510.609 243.094 510.193 242.597C507.345 239.238 503.384 237.014 499.033 236.331C493.666 235.511 487.762 237.031 483.019 234.389C478.967 232.132 476.964 227.432 475.845 222.93C474.726 218.429 474.158 213.67 471.789 209.683C470.914 208.227 469.76 206.958 468.393 205.95L467.307 249.059C467.295 249.563 467.381 250.065 467.563 250.536C467.744 251.007 468.016 251.438 468.364 251.803C468.712 252.169 469.128 252.463 469.59 252.668C470.051 252.872 470.548 252.984 471.053 252.997L507.239 253.908C508.258 253.934 509.246 253.554 509.984 252.851C510.723 252.149 511.152 251.182 511.178 250.163L511.329 244.172Z" fill="#E6E6E6" />
        </g>
      </g>
      <path id="Vector_191" d="M487.41 222.52C486.448 221.998 485.662 221.203 485.151 220.235C484.641 219.266 484.429 218.168 484.543 217.08C484.656 215.991 485.09 214.961 485.79 214.118C486.489 213.276 487.422 212.661 488.471 212.349C489.521 212.037 490.639 212.044 491.684 212.367C492.73 212.691 493.656 213.318 494.346 214.168C495.035 215.018 495.457 216.054 495.558 217.143C495.659 218.233 495.435 219.329 494.913 220.291C494.567 220.93 494.098 221.495 493.533 221.952C492.969 222.41 492.32 222.752 491.623 222.959C490.926 223.166 490.196 223.234 489.473 223.159C488.75 223.083 488.049 222.866 487.41 222.52V222.52Z" fill="white" />
      <path id="Vector_192" d="M520.266 251.148C519.908 240.403 518.356 237.835 518.356 237.835C514.353 239.278 510.074 239.79 505.844 239.333C505.131 237.065 503.797 234.002 501.855 232.402C501.579 232.169 501.227 232.042 500.865 232.047C500.504 232.051 500.155 232.185 499.885 232.425C499.732 232.568 499.612 232.742 499.532 232.935C499.453 233.129 499.416 233.337 499.424 233.546C499.432 233.755 499.484 233.959 499.578 234.146C499.672 234.333 499.805 234.497 499.968 234.628C501.172 235.83 502.077 237.299 502.609 238.914C501.365 238.697 500.067 238.415 498.701 238.033C497.988 237.833 497.244 237.761 496.505 237.82C493.493 236.05 490.656 233.997 488.034 231.687C487.749 231.428 487.372 231.291 486.987 231.309C486.602 231.326 486.239 231.495 485.978 231.779C485.717 232.063 485.579 232.438 485.594 232.824C485.609 233.209 485.776 233.573 486.059 233.835C488.085 235.641 490.242 237.296 492.51 238.786C492.572 238.826 492.624 238.88 492.661 238.944C492.698 239.007 492.719 239.079 492.723 239.153C492.727 239.226 492.713 239.3 492.683 239.367C492.653 239.434 492.608 239.493 492.55 239.54C492.24 239.778 491.948 240.039 491.675 240.32C491.582 240.421 491.462 240.494 491.33 240.531C491.197 240.568 491.057 240.568 490.924 240.53C489.198 239.974 487.534 239.241 485.958 238.344C485.626 238.145 485.228 238.087 484.853 238.182C484.478 238.277 484.156 238.517 483.957 238.849C483.759 239.181 483.701 239.579 483.796 239.954C483.89 240.329 484.13 240.651 484.463 240.849C486.084 241.781 487.793 242.553 489.563 243.155C489.685 243.193 489.788 243.272 489.857 243.379C489.925 243.486 489.953 243.613 489.937 243.739C489.926 243.811 489.915 243.884 489.906 243.957C489.896 244.04 489.867 244.118 489.822 244.188C489.776 244.257 489.716 244.315 489.644 244.357C489.573 244.4 489.493 244.425 489.41 244.432C489.328 244.438 489.245 244.426 489.168 244.395C487.992 243.931 486.85 243.384 485.751 242.758C485.419 242.56 485.022 242.502 484.646 242.597C484.271 242.692 483.949 242.932 483.751 243.264C483.553 243.596 483.495 243.994 483.59 244.369C483.684 244.744 483.924 245.066 484.257 245.264C485.922 246.22 487.677 247.007 489.498 247.616C489.723 247.691 489.927 247.818 490.094 247.988C490.26 248.158 490.383 248.364 490.454 248.591C490.481 248.677 490.509 248.763 490.538 248.85C488.874 248.3 487.269 247.587 485.745 246.721C485.58 246.622 485.398 246.558 485.208 246.53C485.019 246.502 484.826 246.512 484.64 246.559C484.454 246.606 484.28 246.689 484.126 246.804C483.972 246.918 483.843 247.062 483.745 247.226C483.646 247.391 483.582 247.573 483.554 247.762C483.526 247.952 483.536 248.145 483.583 248.331C483.63 248.517 483.713 248.691 483.828 248.845C483.942 248.999 484.086 249.128 484.25 249.226C486.858 250.745 489.71 251.8 492.678 252.343C492.745 252.353 492.813 252.357 492.88 252.357C492.934 252.355 492.988 252.35 493.041 252.342C498.363 255.315 513.747 257.359 520.266 251.148Z" fill="#FFBDAF" />
      <path id="Vector_193" d="M512.813 234.41C512.813 234.41 514.337 257.429 522.201 263.46C534.812 256.28 564.78 239.694 569.282 229.93C573.785 220.165 550.172 179.702 550.172 179.702L529.391 196.551L542.081 218.575C542.081 218.575 528.164 231.148 512.813 234.41Z" fill="#97B8FF" />
      <path id="Vector_194" d="M535.465 209.999C536.228 211.412 536.964 212.838 537.695 214.266C538.425 215.694 539.175 217.113 539.885 218.551L540.042 218.87L539.726 219.079C535.281 222.02 530.783 224.877 526.273 227.713L519.479 231.921C517.2 233.299 514.946 234.716 512.62 236.029L512.942 235.281C513.741 239.015 514.51 242.756 515.247 246.503C515.983 250.252 516.67 254.011 517.308 257.781C516.264 254.103 515.27 250.413 514.326 246.711C513.38 243.011 512.468 239.302 511.589 235.586L511.475 235.106L511.911 234.837L518.707 230.648L525.523 226.482C530.087 223.738 534.662 221.012 539.291 218.372L539.132 218.9C538.494 217.429 537.896 215.94 537.278 214.459C536.661 212.978 536.05 211.495 535.465 209.999Z" fill="#739BE0" />
      <path id="Vector_195" d="M539.509 253.446C538.395 254.415 537.218 255.309 535.984 256.12C534.773 256.947 533.518 257.697 532.254 258.433C530.977 259.144 529.691 259.839 528.361 260.458C527.033 261.103 525.662 261.658 524.259 262.117C525.371 261.146 526.548 260.252 527.782 259.44C528.994 258.614 530.249 257.864 531.513 257.13C532.792 256.42 534.078 255.725 535.408 255.107C536.736 254.462 538.106 253.907 539.509 253.446V253.446Z" fill="#739BE0" />
      <path id="Vector_196" d="M505.882 166.719C506.853 168.976 508.45 170.907 510.483 172.286C512.448 173.645 514.721 174.491 517.096 174.749C519.492 174.976 521.908 174.71 524.197 173.967C526.548 173.202 528.784 172.119 530.842 170.748C529.098 172.624 526.966 174.098 524.595 175.067C522.179 176.084 519.549 176.487 516.94 176.24C514.308 175.951 511.819 174.899 509.777 173.214C507.731 171.596 506.345 169.286 505.882 166.719V166.719Z" fill="#739BE0" />
    </g>
  </g>
  <defs>
    <linearGradient id="paint0_linear" x1="107.688" y1="110.92" x2="140.302" y2="110.92" gradientUnits="userSpaceOnUse">
      <stop stop-color="#FFD47F" />
      <stop offset="1" stop-color="#FD8970" />
    </linearGradient>
    <linearGradient id="paint1_linear" x1="5236.54" y1="12442.5" x2="6615.38" y2="12442.5" gradientUnits="userSpaceOnUse">
      <stop stop-color="#FFD47F" />
      <stop offset="1" stop-color="#FD8970" />
    </linearGradient>
    <linearGradient id="paint2_linear" x1="3566.38" y1="16864.5" x2="4896.74" y2="16864.5" gradientUnits="userSpaceOnUse">
      <stop stop-color="#FFD47F" />
      <stop offset="1" stop-color="#FD8970" />
    </linearGradient>
    <linearGradient id="paint3_linear" x1="2961.3" y1="15957.6" x2="3865.26" y2="15957.6" gradientUnits="userSpaceOnUse">
      <stop stop-color="#FFD47F" />
      <stop offset="1" stop-color="#FD8970" />
    </linearGradient>
    <linearGradient id="paint4_linear" x1="3557.91" y1="12078" x2="4182.91" y2="12078" gradientUnits="userSpaceOnUse">
      <stop stop-color="#FFD47F" />
      <stop offset="1" stop-color="#FD8970" />
    </linearGradient>
    <linearGradient id="paint5_linear" x1="3764.34" y1="10081.7" x2="5778.59" y2="10081.7" gradientUnits="userSpaceOnUse">
      <stop stop-color="#FFD47F" />
      <stop offset="1" stop-color="#FD8970" />
    </linearGradient>
    <linearGradient id="paint6_linear" x1="107.338" y1="355.205" x2="156.359" y2="358.269" gradientUnits="userSpaceOnUse">
      <stop stop-color="#003E3F" />
      <stop offset="1" stop-color="#0099AA" />
    </linearGradient>
  </defs>
</svg>
