#l5 {
  animation: swing ease-in-out 1.5s infinite alternate;
  transform-origin: bottom;
  transform-box: fill-box;
}

#leaf2 {
  animation: swing ease-in-out 1.7s infinite alternate;
  transform-origin: bottom;
  transform-box: fill-box;
}

#l3 {
  animation: swingreverse ease-in-out 1.7s infinite alternate;
  transform-origin: bottom;
  transform-box: fill-box;
}

#l4 {
  animation: swingreverse ease-in-out 1.6s infinite alternate;
  transform-origin: bottom;
  transform-box: fill-box;
}

#leaf1 {
  animation: swingreverse ease-in-out 1.9s infinite alternate;
  transform-origin: bottom;
  transform-box: fill-box;
}

#l1 {
  animation: swingreverse ease-in-out 1.5s infinite alternate;
  transform-origin: bottom;
  transform-box: fill-box;
}

#facemain {
  animation: girlface ease-in-out 1.8s infinite alternate;
  transform-origin: bottom;
  transform-box: fill-box;
}

#book {
  animation: book ease-in-out 2.5s infinite alternate;
  transform-origin: bottom;
  transform-box: fill-box;
}

#dogt {
  animation: swingreverse ease-in-out 0.9s infinite alternate;
  transform-origin: bottom;
  transform-box: fill-box;
}

#oldhand {
  animation: oldhand ease-in-out 1.5s infinite alternate;
  transform-origin: 34px bottom;
  transform-box: fill-box;
}

#oldface12 {
  animation: oldhand ease-in-out 1.3s infinite alternate;
  transform-origin: bottom;
  transform-box: fill-box;
}

@keyframes girlface {
  0% {
    transform: rotate(2deg);
  }

  100% {
    transform: rotate(-3deg);
  }
}

@keyframes oldhand {
  0% {
    transform: rotate(5deg);
  }

  100% {
    transform: rotate(-5deg);
  }
}

@keyframes swing {
  0% {
    transform: rotate(5deg);
  }

  100% {
    transform: rotate(-5deg);
  }
}

@keyframes swingreverse {
  0% {
    transform: rotate(-6deg);
  }

  100% {
    transform: rotate(6deg);
  }
}

@keyframes book {
  0% {
    transform: rotate(-4deg);
  }

  100% {
    transform: rotate(4deg);
  }
}


.arrow-left-4 {
  margin: 20px 8px;
  width: 80px;
  height: 80px;
  cursor: pointer;
}

.arrow-left-4 polygon {
  fill: #337AB7;
  transition: fill 0.5s ease-out;
}

.arrow-left-4 {
  transform: rotate(180deg);
}

.arrow-left-4:hover polygon {
  fill: #BFE2FF;
}
