<svg class="arrow-left-4" (click)="backPage()" viewBox="0 0 100 85">
  <polygon points="58.263,0.056 100,41.85 58.263,83.641 30.662,83.641 62.438,51.866 0,51.866 0,31.611 62.213,31.611 30.605,0 58.263,0.056" />
</svg>

<div class="unicorn-wrap">
  <div class="unicorn">
    <div class="unicorn-body"></div>
    <div class="unicorn-butt">
      <div class="unicorn-tail"></div>
    </div>
    <div class="unicorn-feet-1 unicorn-feet"></div>
    <div class="unicorn-feet-2 unicorn-feet"></div>
    <div class="unicorn-upper">
      <div class="unicorn-neck-1">
        <div class="unicorn-hair"></div>
      </div>
      <div class="unicorn-neck-2"></div>
      <div class="unicorn-head-1">
        <div class="unicorn-ear"></div>
        <div class="unicorn-horn"></div>
      </div>
      <div class="unicorn-head-2">
        <div class="unicorn-eye"></div>
      </div>
    </div>
    <div class="unicorn-comfeti"></div>
    <div class="grass-group">
      <div class="grass-1 grass"></div>
      <div class="grass-2 grass"></div>
      <div class="grass-3 grass"></div>
      <div class="grass-4 grass"></div>
      <div class="grass-5 grass"></div>
    </div>
  </div>
</div>
