.tetris-wrap {
  position: relative;
}

.tetris {
  width: 100%;
  height: 340px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  font-size: 24px;
  background-color: #fff;
  position: relative;
}

.pattern {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  width: 100%;
  height: 100vh;
  display: none;
}

.pattern__score {
  position: absolute;
  top: 50px;
  left: 50px;
  color: #007b9e;
}

.pattern__icon {
  color: #008fb8;
  font-size: 30px;
  filter: blur(2px);
}

.pattern__t-line {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 200%;
  height: 50px;
  animation: pattern 16s linear infinite;
}

.t-main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 400px;
  animation: bmo .2s linear alternate infinite;
}

.bmo {
  position: relative;
  width: 61%;
  height: 55%;
  border-radius: 20px;
  background-color: #760A56;
}

.bmo::before {
  content: '';
  position: absolute;
  height: 100%;
  width: 80%;
  border-radius: 20px;
  background-color: #AE0061;
}

.t-face {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 8%;
  left: 10%;
  width: 61%;
  height: 49%;
  border-radius: 20px;
  background-color: #5F0146;
}

.t-face::before, .t-face::after {
  content: '';
  position: absolute;
  left: 12%;
  width: 88%;
  height: 100%;
  border-radius: 20px;
  background-color: #FF813C;
}

.t-face::after {
  left: 20%;
  bottom: 0;
  width: 80%;
  height: 90%;
  background-color: #FFC359;
}

.t-face__eye {
  width: 8%;
  height: 23%;
  background-color: #001D31;
  z-index: 1000;
  animation: eye 4s infinite;
}

.t-face__mouth {
  width: 23%;
  height: 8%;
  margin: 0 7%;
  background-color: #001D31;
  z-index: 1000;
}

.t-face__l {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2000;
  border-radius: 20px;
  background-position: 0;
  background-size: 110%;
  background-image: linear-gradient(135deg, transparent 15%, rgba(255, 255, 255, 0.5) 15%, rgba(255, 255, 255, 0.5) 40%, transparent 40%, transparent 60%, rgba(255, 255, 255, 0.5) 60%, rgba(255, 255, 255, 0.5) 75%, transparent 75%);
  animation: light .1s infinite alternate;
}

.t-control {
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 0;
  width: 80%;
  height: 45%;
}

.t-control__plus {
  position: absolute;
  left: 23%;
  width: 12%;
  height: 45%;
  border-radius: 3px;
  background-color: #FFFFFF;
  box-shadow: 5px 0px 0 #88D3E3, 8px 2px 0 #5F0146, 8px -2px 0 #5F0146;
}

.t-control__plus:nth-of-type(2) {
  transform: rotate(90deg);
  width: 12%;
  height: 50%;
  box-shadow: 0px -5px 0 #88D3E3, 0px -8px 0 #5F0146;
}

.t-control__button {
  position: absolute;
  height: 20%;
  width: 20%;
  right: 13%;
  bottom: 53%;
  border-radius: 20px;
  background-color: #FFFFFF;
  box-shadow: inset -5px 0px 0 #88D3E3, 4px 2px 0 #5F0146, 4px -2px 0 #5F0146;
}

.t-control__button:nth-of-type(4) {
  bottom: 30%;
  right: 28%;
}

.t-arm {
  position: absolute;
  top: 60%;
  right: -15%;
  width: 31%;
  height: 13%;
  border-radius: 20px;
  background-color: #001D31;
  animation: t-arm-r .1s ease infinite alternate;
}

.t-arm::before {
  content: '';
  position: absolute;
  right: 0;
  width: 50%;
  height: 100%;
  background-color: #FFC359;
  border-radius: 50%;
}

.t-arm-l {
  left: -20%;
  transform: rotateZ(180deg);
  z-index: -1;
  animation: t-arm-l .1s ease infinite alternate;
}

.t-arm-l::before {
  left: 0;
}

.t-leg {
  position: absolute;
  bottom: -8%;
  left: 25%;
  width: 17%;
  height: 8%;
  background-color: #001D31;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  z-index: -1;
}

.t-leg-l {
  animation: t-leg-l .2s linear infinite;
}

.t-leg-r {
  left: 65%;
  animation: t-leg-r .2s linear infinite;
}

.t-head {
  display: flex;
  justify-content: center;
  position: absolute;
  top: -8%;
  left: 45%;
  width: 30%;
  height: 25%;
  z-index: -1;
  border-radius: 50%;
  background-color: #001D31;
}

.t-head::before {
  content: '';
  position: absolute;
  bottom: 60%;
  width: 25%;
  height: 100%;
  border-radius: 20px;
  background-color: #001D31;
  animation: t-head .1s ease infinite alternate;
}

.t-line {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 3000;
}

.t-line__1 {
  position: absolute;
  top: 10%;
  left: 2%;
  width: 3%;
  height: 80%;
  background-color: #D20066;
}

.t-line__2 {
  bottom: 3%;
  right: 30%;
  width: 28%;
  height: 5%;
  background-color: #D20066;
}

.t-line__3 {
  bottom: 72%;
  right: 3%;
  width: 15%;
  height: 4%;
  background-color: #5F0146;
}

.t-line__3:nth-of-type(4) {
  bottom: 65%;
}

.t-line__3:nth-of-type(5) {
  bottom: 58%;
}

.ln {
  position: absolute;
  border-radius: 20px;
}

.t-drop {
  position: absolute;
  width: 6%;
  height: 5%;
  top: 15%;
  left: 15%;
  background-color: rgba(0, 163, 209, 0.9);
  border-radius: 100% 0% 60% 40% / 60% 0% 100% 40%;
  transform: rotateZ(-45deg);
  z-index: 3000;
  animation: t-drop 5s linear infinite;
}

.t-floor {
  position: absolute;
  top: calc(50% + 128px);
  height: 10px;
  border-radius: 10px;
  background-color: rgba(0,0,0,0.2);
  animation: t-floor .1s infinite alternate;
}

@keyframes pattern {
  0% {
    transform: translateX(-50%);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes t-floor {
  0% {
    width: 100px;
  }

  100% {
    width: 165px;
  }
}

@keyframes bmo {
  0%, 20% {
    transform: rotateZ(-3deg);
  }

  100% {
    transform: rotateZ(3deg);
  }
}

@keyframes t-arm-r {
  0% {
    transform: rotateZ(-25deg);
    transform-origin: center left;
  }

  100% {
    transform: rotateZ(25deg);
    transform-origin: center left;
  }
}

@keyframes t-arm-l {
  0% {
    transform: rotateZ(25deg);
    transform-origin: center right;
  }

  100% {
    transform: rotateZ(-25deg);
    transform-origin: center right;
  }
}

@keyframes t-leg-l {
  0%, 20% {
    left: 50%;
    bottom: 0%;
  }

  50% {
    left: 20%;
    bottom: -8%;
  }

  100% {
    left: 50%;
    bottom: -8%;
  }
}

@keyframes t-leg-r {
  0%, 20% {
    left: 40%;
    bottom: -8%;
  }

  50% {
    left: 60%;
    bottom: -8%;
  }

  100% {
    left: 60%;
    bottom: 0%;
  }
}

@keyframes t-head {
  0% {
    transform: rotateZ(-20deg);
    transform-origin: bottom;
  }

  100% {
    transform: rotateZ(20deg);
    transform-origin: bottom;
  }
}

@keyframes eye {
  0%,90% {
    height: 23%;
  }

  100% {
    height: 5%;
  }
}

@keyframes t-drop {
  0%, 50% {
    opacity: 0;
    top: 15%;
  }

  80% {
    opacity: 1;
    top: 20%;
  }

  100% {
    opacity: 0;
    top: 30%;
  }
}

@keyframes light {
  0% {
    background-position: 0;
  }

  100% {
    background-position: 100%;
  }
}

@keyframes t-line {
  0% {
    bottom: 39%;
  }

  100% {
    bottom: 41%;
  }
}


.arrow-left-4 {
  margin: 20px 8px;
  width: 80px;
  height: 80px;
  cursor: pointer;
}

.arrow-left-4 polygon {
  fill: #337AB7;
  transition: fill 0.5s ease-out;
}

.arrow-left-4 {
  transform: rotate(180deg);
}

.arrow-left-4:hover polygon {
  fill: #BFE2FF;
}
