<svg class="arrow-left-4" (click)="backPage()" viewBox="0 0 100 85">
  <polygon points="58.263,0.056 100,41.85 58.263,83.641 30.662,83.641 62.438,51.866 0,51.866 0,31.611 62.213,31.611 30.605,0 58.263,0.056" />
</svg>

<div class="tetris">
  <div class="t-main">
    <div class="bmo">
      <div class="t-face">
        <div class="t-face__l"></div>
        <div class="t-face__eye"></div>
        <div class="t-face__mouth"></div>
        <div class="t-face__eye"></div>
      </div>
      <div class="t-control">
        <div class="t-control__plus"></div>
        <div class="t-control__plus"></div>
        <div class="t-control__button"></div>
        <div class="t-control__button"></div>
      </div>
      <div class="t-line">
        <div class="ln t-line__1"></div>
        <div class="ln t-line__2"></div>
        <div class="ln t-line__3"></div>
        <div class="ln t-line__3"></div>
        <div class="ln t-line__3"></div>
      </div>
      <div class="t-head"></div>
      <div class="t-drop"></div>
      <div class="t-arm t-arm-l"></div>
      <div class="t-arm t-arm-r"></div>
      <div class="t-leg t-leg-l"></div>
      <div class="t-leg t-leg-r"></div>
    </div>
  </div>
  <div class="t-floor"> </div>
</div>
