<i nz-icon nzType="arrow-left" nzTheme="outline" class="back" (click)="backPage()"></i>

<nz-input-group class="search-input" nzSearch [nzAddOnAfter]="suffixIconButton">
  <input type="text" nz-input placeholder="input search text" [(ngModel)]="searchValue" />
</nz-input-group>
<ng-template #suffixIconButton>
  <button nz-button nzType="primary" nzSearch><i nz-icon nzType="search" (click)="search()"></i></button>
</ng-template>
<div class="table-wrapper">
  <nz-table #editRowTable nzBordered [nzData]="items" nzTableLayout="fixed" class="fl-table">
    <thead>
      <tr>
        <th nzWidth="35%">Слово</th>
        <th nzWidth="30%">Часть речи</th>
        <!--<th nzWidth="15%">---</th>
        <th nzWidth="10%">---</th>
        <th nzWidth="15%">---</th>-->
        <th nzWidth="15%">Редактирование</th>
        <th nzWidth="20%">Удаление</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of editRowTable.data">
        <ng-container *ngIf="!editCache[data.id.toString()].edit; else editTemplate">
          <td>{{ data.wordForLearn }}</td>
          <td *ngIf="data.WordType != 4">Слово</td>
          <!--<td>-</td>
          <td>--</td>
          <td>---</td>-->
          <td><a (click)="startEdit(data.id)">Edit</a></td>
          <td>
            <a nz-popconfirm nzPopconfirmTitle="Хотите удалить?" (nzOnConfirm)="deleteWord(data.id)">Delete</a>
          </td>
        </ng-container>
        <ng-template #editTemplate>
          <td><input type="text" nz-input [(ngModel)]="editCache[data.id.toString()].data.wordForLearn" /></td>
          <td>
            <a (click)="saveEdit(data.id)" class="save">Save</a>
            <a nz-popconfirm nzTitle="Sure to cancel?" (nzOnConfirm)="cancelEdit(data.id)">Cancel</a>
          </td>
        </ng-template>

      </tr>
    </tbody>
  </nz-table>
</div>

