<p>users works!</p>

<div>
  <ng-container *ngFor="let user of users">
    <div>
      <nz-avatar [nzSize]="64" class="avatar"
                 [nzSrc]="user.imgAvatarUrl"
                 nzText="{{user.firstName}}"></nz-avatar>
      <span>{{user.id}} - {{user.firstName}} - {{user.lastName}} - street: {{user.address?user.address.street: 'empty'}}</span>

      <i nz-icon nzType="delete" class="delete-style"
         nz-popconfirm
         nzPopconfirmTitle="Are you sure delete this task?"
         nzPopconfirmPlacement="bottom"
         (nzOnConfirm)="deleteUser(user.id)"
         nzTheme="outline"></i>

      <i nz-icon nzType="edit" (click)="isVisibleEdit=true;
         editId=user.id;
         editFirstName=user.firstName;
         editLastName=user.lastName;editImgAvatarUrl=user.imgAvatarUrl;"
         nzTheme="outline" class="edit-icon"></i>

    </div>
  </ng-container>
</div>

<nz-modal [(nzVisible)]="isVisibleEdit" nzTitle="The first Modal" (nzOnCancel)="handleEditCancel()"
          (nzOnOk)="saveEditedUser(editId,editFirstName,editLastName,editImgAvatarUrl)">
  <ng-container>
    <div>
      <input class="input-user" placeholder="Update Firstname" [(ngModel)]="editFirstName" />
    </div>
    <div>
      <input class="input-user" placeholder="Update Lastname" [(ngModel)]="editLastName" />
    </div>
    <div>
      <input class="input-user" placeholder="Update Avatar" [(ngModel)]="editImgAvatarUrl" />
    </div>
  </ng-container>
</nz-modal>

<label nz-checkbox [(ngModel)]="myCheckbox">Turn on/off auto play</label>
<nz-input-number [(ngModel)]="myDemoValue" [nzMin]="1000" [nzMax]="10000" [nzStep]="1000"></nz-input-number>

<div class="form-for-carusel">
  <nz-carousel [nzAutoPlay]="myCheckbox" [nzAutoPlaySpeed]="myDemoValue">
    <div nz-carousel-content *ngFor="let user of users">
      <span class="my-h3">{{ user.firstName }}  {{user.lastName}} </span>
    </div>
  </nz-carousel>
</div>


<h1>-----------</h1>

<app-select-address (onSelect)="selectAddress($event)"></app-select-address>
<div>AddressId: {{addressId}}</div>
<h1>-----------</h1>

<button nz-button [nzType]="'primary'" (click)="showModal()"><span>Add user</span></button>
<nz-modal [(nzVisible)]="isVisible" nzTitle="The first Modal" (nzOnCancel)="handleCancel()" (nzOnOk)="addUser(newFirstName,newLastName,newImgAvatarUrl)">
  <ng-container>
    <div>
      <input class="input-user" placeholder="Add Firstname" [(ngModel)]="newFirstName" />
    </div>
    <div>
      <input class="input-user" placeholder="Add Lastname" [(ngModel)]="newLastName" />
    </div>
    <div>
      <input class="input-user" placeholder="Add Avatar" [(ngModel)]="newImgAvatarUrl" />
    </div>
  </ng-container>
</nz-modal>

<button (click)="isAdd=true" *ngIf="!isAdd" class="custom-btn btn-9">Add2</button>
<div class="add-name-new-user" *ngIf="isAdd">
  <input class="input-user" placeholder="Add Firstname" [(ngModel)]="newFirstName" />
  <input class="input-user" placeholder="Add Lastname" [(ngModel)]="newLastName" />
  <input class="input-user" placeholder="Add Avatar" [(ngModel)]="newImgAvatarUrl" />
  <button class="custom-btn btn-7"
          (click)="isAdd=false;addUser(newFirstName,newLastName,newImgAvatarUrl);
          newFirstName='';newLastName='';newImgAvatarUrl='';">
    Add
  </button>
  <button class="custom-btn btn-7"
          (click)="isAdd=false;newFirstName='';newLastName='';newImgAvatarUrl='';">
    Cansel
  </button>
</div>
<p>users works!</p>
